@font-face {
  font-family: "Avenir Next Cyr Regular";
  src: url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular.eot");
  src: local("../assets/fonts/Avenyr Next Cyr/Avenir Next Cyr Regular"), local("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular.woff") format("woff"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr Medium";
  src: url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium.eot");
  src: local("../assets/fonts/Avenyr Next Cyr/Avenir Next Cyr Medium"), local("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium.woff") format("woff"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr Bold";
  src: url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold.eot");
  src: local("../assets/fonts/Avenyr Next Cyr/Avenir Next Cyr Bold"), local("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold.woff") format("woff"), url("../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*# sourceMappingURL=constants.css.map */
