$color-black: #262626;
$color-white: #ffffff;
$color-black-background: #201600;
$color-error: #E30E00;
$animation-function: cubic-bezier(0.25, 0.1, 0.25, 1);

$avenir-light: 'Avenir Next Cyr Light';
$avenir-regular: 'Avenir Next Cyr Regular';
$avenir-medium: 'Avenir Next Cyr Medium';
$avenir-semi-bold: 'Avenir Next Cyr Semi Bold';
$avenir-bold: 'Avenir Next Cyr Bold';


@font-face {
	font-family: 'Avenir Next Cyr Light';
	src: url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Light.eot');
	src: local('../assets/fonts/Avenyr Next Cyr/Avenir Next Cyr Light'), local('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Light'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Light.woff') format('woff'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr Regular';
	src: url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular.eot');
	src: local('../assets/fonts/Avenyr Next Cyr/Avenir Next Cyr Regular'), local('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular.woff') format('woff'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr Medium';
	src: url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium.eot');
	src: local('../assets/fonts/Avenyr Next Cyr/Avenir Next Cyr Medium'), local('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium.woff') format('woff'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr Semi Bold';
	src: url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Demi.eot');
	src: local('../assets/fonts/Avenyr Next Cyr/Avenir Next Cyr Demi'), local('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Demi'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Demi.woff') format('woff'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Demi.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr Bold';
	src: url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold.eot');
	src: local('../assets/fonts/Avenyr Next Cyr/Avenir Next Cyr Bold'), local('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold.woff') format('woff'),
	url('../assets/fonts/Avenyr Next Cyr/AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}