@import "constants";

html, body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: $avenir-regular;
	line-height: normal;
	text-decoration: none;
	text-transform: none;
	outline: none;
	color: $color-black-background;
}

body {
	position: relative;
	z-index: 1;
	background-color: $color-white;
	&.isOver {
		overflow: hidden;
	}
	&.pageLoad {
		//&:after {
		//	width: 100%;
		//	right: unset;
		//	left: 0;
		//}
		&:before {
			opacity: 0.5;
			transition-delay: 0s;
			visibility: visible;
		}
	}
	&:before {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color-black;
		opacity: 0;
		z-index: 2;
		visibility: hidden;
		transition: all 0.6s $animation-function 0.5s;
	}
	//&:after {
	//	content: '';
	//	position: absolute;
	//	top: 0;
	//	bottom: 0;
	//	width: 0;
	//	right: 0;
	//	background-color: $color-black;
	//	transition: width 0.3s $animation-function;
	//}
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, tr, td, button, input {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: $avenir-regular;
	color: $color-black-background;
	text-decoration: none;
	text-transform: none;
	outline: none;
	&:hover, &:focus {
		outline: none;
		box-shadow: none;
		text-decoration: none;
		text-transform: none;
	}
}

.animated {
	animation-timing-function: $animation-function;
}

.swiper-wrapper {
	transition-duration: 1ms !important;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(-40px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	 0% {
		 opacity: 0;
		 transform: translate3d(0, 40px, 0);
	 }
	 100% {
		 opacity: 1;
		 transform: translate3d(0, 0, 0);
	 }
 }

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -40px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.custom_btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	&.black {
		.my_btn {
			color: $color-white;
			background-color: $color-black-background;
		}
	}
	.my_btn {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: $color-black;
		background-color: $color-white;
		font-size: 15px;
		width: 205px;
		padding: 13px 0 15px 0;
		border-radius: 27px;
		transition: letter-spacing 0.35s ease-out;
		cursor: pointer;
		font-family: $avenir-regular;
	}
}

.menu_container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	z-index: 997;
	background-color: $color-white;
	transition: all 0.6s $animation-function;
	overflow: hidden;
	visibility: hidden;
	&.active {
		height: 100%;
		visibility: visible;
		//&:before {
		//	opacity: 0.3;
		//	z-index: 2;
		//}
		.nav_container {
			.nav_list {
				transform: translateY(0px);
				opacity: 1;
				transition-delay: 0.15s;
			}
		}
		.bottom_socials {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 0.3s;
		}
	}
	//&:before {
	//	content: '';
	//	position: absolute;
	//	top: 0;
	//	right: 0;
	//	bottom: 0;
	//	left: 0;
	//	height: 100vh;
	//	background-color: $color-black;
	//	opacity: 0;
	//	z-index: 996;
	//	transition: opacity 0.6s $animation-function;
	//}
	.container-fluid {
		position: relative;
		height: 100%;
		background-color: $color-white;
		z-index: 2;
		.row {
			height: 100%;
			.col-xl-6 {
				height: 100%;
			}
		}
	}
	.nav_container {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		.nav_list {
			display: flex;
			flex-direction: column;
			align-items: center;
			list-style: none;
			transform: translateY(-40px);
			opacity: 0;
			transition: all 0.35s $animation-function 0s;
			.list_item {
				margin-bottom: 40px;
				transition: all 0.45s $animation-function 0.15s;
				&:last-child {
					margin-bottom: 0;
				}
				.list_link {
					color: $color-black-background;
					font-size: 30px;
					letter-spacing: 0.83px;
					font-family: $avenir-bold;
				}
			}
		}
	}
	.bottom_socials {
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		transform: translateY(-40px);
		opacity: 0;
		transition: all 0.35s $animation-function 0s;
		a {
			display: block;
			transition: all 0.35s $animation-function 0.3s;
			&:last-child {
				margin-right: 0;
			}
		}
		.social_cont {
			width: 100px;
			padding: 10px 0;
			border-radius: 27px;
			border: 1px solid $color-black-background;
			transition: all 0.4s ease-out;
			&:hover {
				background-color: $color-black-background;
				.icon {
					svg {
						#Меню-XL {
							fill: $color-white;
						}
					}
				}
			}
			.icon {
				text-align: center;
			}
		}
	}
}

@media (min-width: 576px) {
	.custom_btn {
		.my_btn {
			padding: 14px 0 18px 0;
			font-size: 18px;
			width: 225px;
		}
	}
	.menu_container {
		.nav_container {
			.nav_list {
				margin-bottom: 80px;
				.list_item {
					.list_link {
						font-size: 36px;
						letter-spacing: 1px;
					}
				}
			}
			.contact_data {
				display: flex;
				flex-direction: column;
				align-items: center;
				.text {
					display: flex;
					flex-direction: row;
					align-items: center;
					font-size: 18px;
					margin-bottom: 20px;
					img {
						width: 18px;
						height: 18px;
						margin-right: 10px;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.bottom_socials {
			padding: 0 40px;
			bottom: 20px;
		}
	}
}

@media (min-width: 768px) {
	.custom_btn {
		.my_btn {
			width: 240px;
		}
	}
}

@media (min-width: 1200px) {
	.menu_container {
		&.active {
			.nav_container {
				.contact_data {
					transform: translateY(0px);
					opacity: 1;
					transition-delay: 0.15s;
				}
			}
		}
		.nav_container {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			transform: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
			.nav_list {
				width: 100%;
				max-width: 350px;
				margin: 0 auto 80px auto;
				align-items: flex-start;
			}
			.contact_data {
				width: 100%;
				max-width: 350px;
				margin: 0 auto;
				transform: translateY(-40px);
				opacity: 0;
				align-items: flex-start;
				transition: all 0.45s $animation-function 0s;
				.text {
					font-size: 16px;
				}
			}
		}
		.bottom_socials {
			position: fixed;
			bottom: 40px;
			left: 0;
			right: 0;
			padding: 0 60px;
			justify-content: flex-start;
			a {
				margin-right: 50px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.image_cont {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 998;
			transition: all 0.6s $animation-function;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}