@import "default";

#wrapper_all {
	position: relative;
	margin: 0;
	padding: 0;
	transition: all 0.4s $animation-function;
	overflow: hidden;
	[id*='wrapper'] {
		margin-top: 60px;
	}
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		background-color: transparent;
		opacity: 0;
		transition: opacity 1s $animation-function 0s;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: $color-white;
			transform: translateY(-100%);
			transition: transform 0.4s $animation-function;
		}
		&.show {
			opacity: 1;
		}
		//&.black {
		//	.container {
		//		background-color: $color-black;
		//	}
		//}
		&.active {
			&:before {
				transform: translateY(0%);
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
		}
		.header_container {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 12px 0;
			&.blockHide {
				display: none !important;
			}
			&.onBlack {
				.phone_icon {
					.phone {
						&.white {
							display: none;
						}
						&.black {
							display: block;
						}
					}
				}
			}
			&.white {
				.menu_icon {
					span {
						background-color: $color-white;
					}
				}
			}
			.menu_icon {
				position: relative;
				width: 22px;
				height: 12px;
				cursor: pointer;
				&.isDisabled {
					pointer-events: none;
				}
				&.isAnimatedFirst {
					span {
						&:nth-child(1) {
							top: 50%;
							transform: skew(35deg) translateY(-50%);
						}
						&:nth-child(2) {
							top: 50%;
							transform: skew(35deg) translateY(-50%);
						}
					}
				}
				&.isAnimatedSecond {
					span {
						&:nth-child(1) {
							transform: rotate(135deg);
						}
						&:nth-child(2) {
							transform: rotate(135deg);
						}
					}
				}
				&.isAnimatedThird {
					span {
						&:nth-child(2) {
							transform: rotate(45deg);
						}
					}
				}
				span {
					position: absolute;
					display: block;
					left: 0;
					right: 0;
					width: 100%;
					height: 2px;
					background-color: $color-black-background;
					transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
					transform-origin: center;
					transform: skew(35deg);
					&:nth-child(1) {
						top: 0;
					}
					&:nth-child(2) {
						top: 10px;
					}
				}
			}
			.logo_container {
				width: 160px;
				height: 36px;
				.logo {
					width: 100%;
					height: 100%;
				}
			}
			.phone_icon {
				a {
					display: flex;
					.phone {
						width: 16px;
						height: 16px;
						&.black {
							display: none;
						}
					}
				}
			}
		}
	}
	footer {
		position: relative;
		overflow: hidden;
		&.active {
			&:before {
				height: 100%;
			}
			.logo_container {
				transform: translateY(0);
				opacity: 1;
				transition-delay: 0.25s;
			}
			.address_block {
				transform: translateY(0);
				opacity: 1;
				&:nth-child(1) {
					transition-delay: 0.3s;
				}
				&:nth-child(2) {
					transition-delay: 0.4s;
				}
				&:nth-child(3) {
					transition-delay: 0.5s;
				}
			}
			.custom_btn {
				transform: translateY(0);
				opacity: 1;
				&:nth-child(1) {
					transition-delay: 0.3s;
				}
				&:nth-child(2) {
					transition-delay: 0.4s;
				}
				&:nth-child(3) {
					transition-delay: 0.5s;
				}
				&:nth-child(4) {
					transition-delay: 0.6s;
				}
			}
			.bottom_socials {
				transform: translateY(0);
				opacity: 1;
				transition-delay: 0.7s;
			}
			.copyright_row {
				transform: translateY(0);
				opacity: 1;
				transition-delay: 0.8s;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 0;
			background-color: $color-black;
			z-index: 1;
			transition: height 0.6s $animation-function 0.2s;
		}
		.container {
			position: relative;
			z-index: 2;
			padding-top: 50px;
			padding-bottom: 10px;
		}
		.logo_container {
			margin-bottom: 20px;
			text-align: center;
			transform: translateY(-40px);
			opacity: 0;
			transition: 0.5s $animation-function;
			img {
				width: 200px;
				height: 40px;
			}
		}
		.address_block {
			margin-bottom: 25px;
			transform: translateY(-30px);
			opacity: 0;
			transition: 0.5s $animation-function 0s;
			.title {
				font-size: 18px;
				font-family: $avenir-medium;
				color: $color-white;
				text-align: center;
				margin-bottom: 5px;
			}
			.sub_title {
				font-size: 16px;
				text-align: center;
				color: $color-white;
			}
		}
		.custom_btn {
			margin-bottom: 30px;
			transform: translateY(-30px);
			opacity: 0;
			transition: 0.5s $animation-function 0s;
			.my_btn {
				width: 220px;
				font-size: 15px;
				position: relative;
				&:hover {
					letter-spacing: normal;
					img {
						&.phone_arrow {
							opacity: 1;
							transform: translate(0px, 0px);
						}
						&.mail_def {
							display: none;
						}
						&.mail_opn {
							display: block;
						}
					}
				}
				img {
					width: 15px;
					height: 15px;
					margin-right: 10px;
					object-fit: contain;
					&.phone_arrow {
						position: absolute;
						top: 13px;
						left: 38px;
						width: 7px;
						height: 7px;
						margin-right: 0;
						transform: translate(-3px, 3px);
						opacity: 0;
						transition: 0.5s ease-out;
					}
					&.mail_opn {
						display: none;
					}
				}
			}
		}
		.bottom_socials {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			transform: translateY(-30px);
			opacity: 0;
			transition: 0.5s $animation-function 0s;
			a {
				display: block;
				margin-right: 35px;
				&:last-child {
					margin-right: 0;
				}
			}
			.social_cont {
				width: 90px;
				padding: 10px 0;
				border-radius: 27px;
				border: 1px solid $color-white;
				transition: all 0.4s ease-out;
				background-color: $color-white;
				&:hover {
					background-color: $color-black;
					.icon {
						svg {
							#Меню-XL {
								fill: $color-white;
							}
						}
					}
				}
				.icon {
					text-align: center;
				}
			}
		}
		.copyright_row {
			margin-top: 25px;
			transform: translateY(-30px);
			opacity: 0;
			transition: 0.5s $animation-function 0s;
			.text {
				text-align: center;
				font-size: 18px;
				color: $color-white;
			}
		}
	}
	#stages_modal {
		padding-right: 0 !important;
		z-index: 9999;
		.modal-content {
			border-radius: unset;
			border: none;
			.modal-header {
				position: relative;
				border-bottom: none;
				padding: 15px;
				.modal-title {
					font-size: 24px;
					width: 100%;
					text-align: center;
					font-family: $avenir-bold;
				}
				.close {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 50%;
					right: 1rem;
					display: flex;
					flex-direction: row;
					align-items: center;
					float: none;
					opacity: 1;
					transform: translateY(-50%);
				}
			}
			.modal-body {
				padding-top: 0;
				padding-bottom: 15px;
				height: 100%;
				max-height: 550px;
				overflow: auto;
				.detail_block {
					padding: 15px 0 0 0;
				}
				.title_cont {
					margin-bottom: 15px;
					.title {
						font-family: $avenir-bold;
						font-size: 20px;
						text-align: center;
					}
				}
				.text_info {
					.text {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	#feedback_modal {
		padding-right: 0 !important;
		z-index: 9999;
		.modal-content {
			position: relative;
			border-radius: unset;
			border: none;
			.modal-header {
				border-bottom: none;
				padding: 0;
				width: 100%;
				max-width: 322px;
				margin: 0 auto;
				.modal-title {
					font-size: 24px;
					width: 100%;
					text-align: center;
					font-family: $avenir-bold;
					padding: 50px 0 30px;
					text-transform: uppercase;
				}
				.close {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 30px;
					right: 30px;
					display: flex;
					flex-direction: row;
					align-items: center;
					float: none;
					opacity: 1;
				}
			}
			.modal-body {
				padding-top: 0;
				padding-bottom: 30px;
				width: 100%;
				max-width: 300px;
				margin: 0 auto;
				height: 100%;
				max-height: 550px;
				overflow: auto;
				.form_cont {
					.form-group {
						margin-bottom: 30px;
						input {
							width: 100%;
							color: $color-black-background;
							font-size: 15px;
							padding: 15px 0;
							border-radius: 27px;
							border: 1px solid $color-black-background;
							text-align: center;
							&:focus {
								outline: none;
								box-shadow: none;
							}
							&::placeholder {
								opacity: 0.3;
							}
						}
					}
					.custom_btn {
						width: 100%;
						.my_btn {
							width: 100%;
							padding: 14px 0 18px 0;
						}
					}
				}
			}
		}
	}
	#success_modal {
		.modal-footer, .modal-header {
			border: none;
		}
		.modal-content {
			padding: 20px;
		}
		.modal-header {
			display: flex;
			flex-direction: row;
			justify-content: center;
			.modal-title {
				font-size: 28px;
				font-family: $avenir-semi-bold;
				line-height: 28px;
				text-align: center;
			}
		}
		.modal-footer {
			.custom_btn {
				width: 100%;
			}
		}
	}
}

#wrapper_main {
	height: calc(100vh - 60px);
	.main_block {
		position: relative;
		height: calc(50vh - 30px);
		&.active {
			&.top, &.bottom {
				&:before {
					width: 0;
				}
			}
			.block_info {
				.title_cont, .text_cont, .custom_btn {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
		&.top {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				background-color: $color-white;
				z-index: 9999;
				transition: width 0.75s $animation-function;
			}
		}
		&.bottom {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				background-color: $color-white;
				z-index: 9999;
				transition: width 0.75s $animation-function;
			}
		}
		.block_bg {
			width: 100%;
			height: 100%;
			.bg {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.bg_overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background-color: rgba(0, 0, 0, 0.35);
		}
		.block_info {
			width: 100%;
			max-width: 100%;
			padding: 0 15px;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			z-index: 2;
			transform: translateY(-50%);
			.title_cont {
				margin-bottom: 15px;
				transform: translateY(40px);
				opacity: 0;
				transition: all 0.75s $animation-function 0.75s;
				.title {
					color: $color-white;
					text-align: center;
					font-size: 24px;
					font-family: $avenir-bold;
				}
			}
			.text_cont {
				margin-bottom: 20px;
				transform: translateY(40px);
				opacity: 0;
				transition: all 0.5s $animation-function 0.9s;
				.text {
					color: $color-white;
					text-align: center;
				}
			}
			.custom_btn {
				transform: translateY(40px);
				opacity: 0;
				transition: all 0.5s $animation-function 1.05s;
				.my_btn {
					&:hover {
						letter-spacing: 5px;
					}
				}
			}
		}
	}
}

#wrapper_contacts {
	padding-top: 20px;
	.section_title {
		margin-bottom: 40px;
		.title {
			color: $color-black-background;
			font-size: 24px;
			font-family: $avenir-bold;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.form_cont {
		width: 100%;
		max-width: 240px;
		margin: 0 auto;
		padding-bottom: 45px;
		.form-group {
			position: relative;
			margin-bottom: 30px;
			height: 54px;
			&.active {
				.input_cont {
					opacity: 1;
					width: 100%;
					&::placeholder {
						opacity: 0.3;
					}
				}
			}
			&:nth-child(1) {
				.input_cont {
					transition-delay: 0.3s;
					&::placeholder {
						transition-delay: 0.35s;
					}
				}
			}
			&:nth-child(2) {
				.input_cont {
					transition-delay: 0.45s;
					&::placeholder  {
						transition-delay: 0.5s;
					}
				}
			}
			&:nth-child(3) {
				.input_cont {
					transition-delay: 0.6s;
					&:hover {
						&::placeholder {
							text-decoration: underline;
						}
					}
					&::placeholder  {
						transition-delay: 0.5s;
					}
				}
			}
			.input_cont {
				position: absolute;
				left: 50%;
				right: 50%;
				transform: translate(-50%, 0);
				width: 0;
				color: $color-black-background;
				font-size: 15px;
				padding: 15px 0;
				border-radius: 27px;
				border: 1px solid $color-black-background;
				text-align: center;
				transition: width 0.6s $animation-function 0s, opacity 0.3s $animation-function 0.3s;
				opacity: 0;
				&.isError {
					border: 1px solid $color-error;
				}
				&:focus {
					outline: none;
					box-shadow: none;
				}
				&::placeholder {
					opacity: 0;
					transition: opacity 0.6s $animation-function 0s;
				}
			}
		}
		.custom_btn {
			height: 54px;
			&.active {
				.my_btn {
					opacity: 1;
					width: 265px;
					span {
						opacity: 1;
					}
				}
			}
			.my_btn {
				position: absolute;
				left: 50%;
				right: 50%;
				transform: translate(-50%, 0);
				width: 0;
				font-size: 15px;
				cursor: pointer;
				background-color: $color-black-background;
				border: 1px solid $color-black-background;
				transition: width 0.6s $animation-function 0.75s, opacity 0.3s $animation-function 0.75s;
				opacity: 0;
				&:hover {
					letter-spacing: normal;
					img {
						opacity: 1;
						transform: translate(5px, -50%);
					}
				}
				span {
					color: $color-white;
					opacity: 0;
					transition: opacity 0.6s $animation-function 0.8s;
				}
				img {
					position: absolute;
					top: 50%;
					right: 60px;
					transform: translateY(-50%);
					opacity: 0;
					width: 12px;
					height: 12px;
					transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
				}
			}
		}
	}
	.contact_block {
		margin-bottom: 40px;
		.info_row {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
			.title {
				color: $color-black;
				font-family: $avenir-medium;
				font-size: 20px;
				line-height: 26px;
				text-align: center;
			}
			.text {
				color: $color-black;
				font-family: $avenir-medium;
				font-size: 18px;
				line-height: 26px;
				text-align: center;
			}
		}
	}
	.bottom_block {
		.socials_row {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-bottom: 45px;
			a {
				display: block;
				margin-right: 45px;
				&:last-child {
					margin-right: 0;
				}
			}
			.social_cont {
				width: 100px;
				padding: 10px 0;
				border-radius: 27px;
				border: 1px solid $color-black-background;
				transition: all 0.4s ease-out;
				&:hover {
					background-color: $color-black-background;
					.icon {
						svg {
							#Меню-XL {
								fill: $color-white;
							}
						}
					}
				}
				.icon {
					text-align: center;
				}
			}
		}
		.copyright_row {
			margin-bottom: 10px;
			.text {
				text-align: center;
				color: $color-black;
				font-size: 18px;
			}
		}
	}
}

#wrapper_about {
	padding-top: 20px;
	.about_info {
		.about_block {
			margin-bottom: 50px !important;
			.title {
				font-size: 20px;
				font-family: $avenir-bold;
				text-align: center;
				margin-bottom: 10px;
				&.to-left {
					text-align: left;
				}
			}
			.text {
				font-size: 15px;
				line-height: 24px;
				margin-bottom: 25px;
				text-align: center;
				&.to-left {
					text-align: left;
				}
			}
			.image_cont {
				width: 100%;
				height: 270px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	.stages {
		background-color: #f8f8f7;
		padding: 50px 0;
		.section_title {
			margin-bottom: 25px;
			.title {
				font-size: 20px;
				text-align: center;
				font-family: $avenir-bold;
			}
		}
		.stage_block {
			margin-bottom: 30px;
			.stage_img {
				text-align: center;
				margin-bottom: 5px;
				&:hover {

				}
				img {
					filter: grayscale(1);
					width: 150px;
					height: 150px;
					border-radius: 50%;
				}
			}
			.stage_text {
				.text {
					font-size: 16px;
					color: $color-black;
					text-align: center;
				}
			}
		}
		.custom_btn {
			margin-top: 15px;
			.my_btn {
				font-size: 15px;
				background-color: $color-black-background;
				color: $color-white;
			}
		}
	}
	.slider {
		padding: 50px 0;
		.section_title {
			margin-bottom: 15px;
			.title {
				font-size: 20px;
				font-family: $avenir-medium;
				color: $color-black;
			}
		}
		.about_slider {
			position: relative;
			padding-bottom: 20px;
			.swiper-slide {
				position: relative;
				&.swiper-slide-active {
					&.active {
						.image_container {
							&:before {
								width: 100%;
								left: 0;
								right: unset;
							}
						}
					}
					.image_container {
						img {
							width: 100%;
						}
					}
					.text_bottom_slide {
						opacity: 1;
					}
				}
				.image_container {
					position: relative;
					width: 100%;
					height: 260px;
					&.active {
						&:after {
							height: 0;
						}
					}
					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						height: 100%;
						background-color: $color-white;
						z-index: 2;
						transition: height 0.75s $animation-function 0.3s;
					}
					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						width: 0;
						z-index: 2;
						background-color: $color-black;
						transition: width 0.6s $animation-function;
					}
					img {
						width: 0;
						height: 100%;
						object-fit: cover;
						transition: width 0.6s $animation-function;
					}
				}
				.text_bottom_slide {
					margin-top: 15px;
					margin-bottom: 45px;
					opacity: 0;
					transition: opacity 0.6s $animation-function 0s;
					.text {
						font-size: 15px;
					}
				}
			}
			.swiper-button-prev, .swiper-button-next {
				display: flex;
				flex-direction: row;
				align-items: center;
				background-image: none;
				width: 12px;
				height: auto;
				margin-top: 0;
				top: unset;
				bottom: 0;
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			.swiper-button-prev {
				left: 55px;
			}
			.swiper-button-next {
				right: 55px;
			}
			.swiper-pagination {
				bottom: 0;
				right: 0;
				.swiper-pagination-bullet {
					width: 12px;
					height: 12px;
					margin-right: 20px;
					margin-left: 0;
					background-color: transparent;
					border: 1px solid $color-black;
					opacity: 1;
					transition: background-color 0.3s $animation-function;
					&.swiper-pagination-bullet-active {
						background-color: $color-black;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	.guarantee {
		background-color: #f8f8f7;
		padding: 45px 0 20px 0;
		.section_title {
			margin-bottom: 30px;
			.title {
				text-align: center;
				font-size: 20px;
				font-family: $avenir-bold;
			}
		}
		.question_block {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #e7e7e7;;
			.top_row {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				.text {
					font-family: $avenir-light;
				}
				.icon_cont {
					position: relative;
					width: 16px;
					height: 16px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					cursor: pointer;
					&.rotate {
						span {
							&:nth-child(2) {
								transform: rotate(0deg);
							}
						}
					}
					span {
						width: 100%;
						height: 2px;
						background-color: $color-black;
						position: absolute;
						left: 0;
						right: 0;
						transition: transform 0.3s $animation-function;
						&:nth-child(2) {
							transform: rotate(90deg);
						}

					}
					//img {
					//	width: 16px;
					//	height: 16px;
					//	object-fit: contain;
					//	&.hidden {
					//		display: none;
					//	}
					//}
				}
			}
			.bottom_row {
				position: relative;
				margin-top: 20px;
				transition: all 0.3s $animation-function;
				height: 100px;
				overflow: hidden;
				&.isHidden {
					margin-top: 0;
					height: 0;
				}
				.text {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					font-family: $avenir-light;
				}
			}
		}
	}
	.about_bottom {
		padding: 50px 0;
		.section_title {
			margin-bottom: 20px;
			.title {
				font-size: 20px;
				font-family: $avenir-medium;
				color: $color-black-background;
				text-align: center;
			}
		}
		.text_block {
			margin-bottom: 35px;
			.text {
				max-height: 245px;
				overflow: hidden;
				transition: all 1s $animation-function;
				&.fullShow {
					max-height: 1000px;
				}
			}
		}
		.custom_btn {
			&.show_more {
				.my_btn {
					transition: all 0.4s $animation-function;
					&.isHidden {
						transform: translateY(20px);
						visibility: hidden;
						opacity: 0;
					}
				}
			}
			.my_btn {
				cursor: pointer;
				width: 240px;
				background-color: $color-black;
				border-color: $color-black;
				color: $color-white;
				font-size: 15px;
			}
		}
	}
}

#wrapper_portfolio {
	margin-top: 0 !important;
	padding-top: 60px;
	.section_top_info {
		position: relative;
		margin-top: -60px;
		padding-top: 85px;
		padding-bottom: 50px;
		&.active {
			&:before {
				height: 100%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 0;
			transition: height 0.6s $animation-function;
			background-color: $color-black;
		}
		.section_title {
			margin-bottom: 20px;
			.title {
				color: $color-white;
				font-size: 18px;
			}
		}
		.text_info {
			.text {
				color: $color-white;
				font-size: 16px;
				line-height: 24px;
				&.bold {
					font-family: $avenir-semi-bold;
					font-size: 20px;
					margin-bottom: 20px;
				}
			}
		}
	}
	.portfolio_container {
		padding-top: 40px;
		.all_block_cont {
			position: relative;
		}
		.btn_select_row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 25px;
			.custom_btn {
				opacity: 0.1;
				transition: 0.3s $animation-function;
				&.isShow {
					opacity: 1;
				}
				.my_btn {
					border-radius: 35px;
					border: 1px solid #979797;
					width: 160px;
					font-family: $avenir-semi-bold;
					font-size: 16px;
					padding: 10px 0;
					&:hover {
						letter-spacing: 0;
					}
				}
			}
		}
		.block_row {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			visibility: hidden;
			transform: translateY(40px);
			transition: all 0.5s $animation-function 0s;
			&.isShow {
				position: relative;
				top: 0;
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				transition: all 0.5s $animation-function 0.5s;
			}
		}
		.portfolio_info {
			margin-bottom: 50px;
			.portfolio_image {
				height: 260px;
				margin-bottom: 15px;
				animation-delay: 0.4s;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.portfolio_text {
				.title {
					font-size: 20px;
					margin-bottom: 5px;
					animation-delay: 0.5s;
				}
				.text {
					font-size: 15px;
					font-family: $avenir-light;
					line-height: 26px;
					animation-delay: 0.6s;
				}
			}
		}
	}
}

#wrapper_selected_portfolio {
	padding-top: 20px;
	overflow: hidden;
	.portfolio_info {
		position: relative;
		padding-bottom: 43px;
		&.active {
			&:before {
				width: 150%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -15px;
			right: -15px;
			bottom: 0;
			width: 0;
			background-color: #f8f8f7;
			margin-top: 90px;
			transition: width 1.15s $animation-function;
		}
		.image_container {
			position: relative;
			width: 100%;
			height: 260px;
			margin-bottom: 20px;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				background-color: $color-white;
				z-index: 2;
				transition: width 1s $animation-function;
			}
			&.active {
				img {
					transform: translateX(0px);
				}
				&:before {
					width: 0;
				}
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 1s $animation-function;
				transform: translateX(-40px);
			}
		}
		.text_info {
			.title {
				margin-bottom: 15px;
				font-family: $avenir-semi-bold;
				font-size: 20px;
			}
			.text {
				margin-bottom: 40px;
				font-size: 15px;
				line-height: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.portfolio_slider {
		.selected-portfolio-slider {
			margin-top: 50px;
			margin-bottom: 60px;
			.swiper-slide {
				padding-bottom: 65px;
				&.swiper-slide-active {
					&.active {
						.image_container {
							&:before {
								width: 100%;
								left: 0;
								right: unset;
								transition-delay: 0.2s;
							}
						}

					}
				}
				.image_container {
					position: relative;
					width: 100%;
					height: 200px;
					&.active {
						&:after {
							height: 0;
						}
					}
					&:after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						height: 100%;
						background-color: $color-white;
						z-index: 1;
						transition: height 0.6s $animation-function;
					}
					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						width: 0;
						z-index: 2;
						background-color: $color-black;
						transition: width 0.6s $animation-function;
					}
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
			.swiper-button-prev, .swiper-button-next {
				background-image: none;
				width: 15px;
				height: auto;
				display: flex;
				flex-direction: row;
				align-items: center;
				top: unset;
				bottom: 0;
			}
			.swiper-button-prev {
				left: 55px;
			}
			.swiper-button-next {
				right: 55px;
			}
			.swiper-pagination {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				bottom: 5px;
				right: 0;
				.swiper-pagination-bullet {
					width: 12px;
					height: 12px;
					margin-right: 20px;
					margin-left: 0;
					background-color: transparent;
					border: 1px solid $color-black;
					opacity: 1;
					transition: background-color 0.3s $animation-function;
					&.swiper-pagination-bullet-active {
						background-color: $color-black;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	.feedback_block {
		position: relative;
		padding-bottom: 40px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -15px;
			right: -15px;
			bottom: 0;
			background-color: #f8f8f7;
			margin-top: 130px;
		}
		.image_container {
			width: 100%;
			height: 260px;
			margin-bottom: 30px;
			&.active {
				img {
					transform: translateX(0);
				}
				&:before {
					width: 0;
				}
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				z-index: 1;
				background-color: $color-white;
				transition: width 0.6s $animation-function;
			}
			img {
				transform: translateX(-40px);
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 0.6s $animation-function;
			}
		}
		.text_info {
			margin-bottom: 25px;
			.title {
				font-size: 20px;
				font-family: $avenir-semi-bold;
				margin-bottom: 10px;
				text-align: center;
			}
			.text {
				text-align: center;
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
	.works_navigation {
		padding: 50px 0;
		.work_block {
			margin-bottom: 40px;
			&.active {
				.image_container {
					&:after {
						height: 0;
					}
				}
			}
			&.next {
				&.active {
					.image_container {
						&:after {
							transition-delay: 0.65s;
						}
					}
				}
			}
			&:hover {
				&.next {
					.link_btn {
						img {
							transform: translateX(10px) rotate(180deg);
						}
					}
				}
				.link_btn {
					img {
						transform: translateX(-10px);
					}
					span {
						color: $color-black;
					}
				}
			}
			&.next {
				.link_btn {
					img {
						transform: rotate(180deg);
						margin-right: 0;
						margin-left: 10px;
					}
				}
			}
			.link_btn {
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin-bottom: 10px;
				img {
					margin-right: 10px;
					transition: transform 0.3s $animation-function;
				}
				span {
					font-size: 18px;
				}
			}
			.image_container {
				position: relative;
				width: 100%;
				height: 260px;
				margin-bottom: 20px;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					background-color: $color-white;
					z-index: 1;
					transition: height 0.65s $animation-function 0.5s;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.work_info {
				.title {
					font-size: 20px;
					margin-bottom: 15px;
				}
				.text {
					font-size: 15px;
					line-height: 22px;
					font-family: $avenir-light;
				}
			}
		}
	}
}

#wrapper_repair {
	margin-top: 0 !important;
	.main_page {
		position: relative;
		height: 100vh;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			bottom: -90px;
			left: 0;
			right: 0;
			width: 100%;
			height: 200px;
			background-color: $color-black;
			z-index: -1;
			transform: skewY(-17deg);
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: -30px;
			bottom: 140px;
			width: 60px;
			background-color: $color-black;
			z-index: -1;
			transform: skew(5deg);
		}
		.text_block {
			position: absolute;
			top: calc(50% - 60px);
			transform: translateY(-50%);
		}
		.sofa_block {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			width: 100%;
			max-width: 270px;
			margin: 0 auto;
		}
		.description_block {
			width: 100%;
			max-width: 270px;
			margin: 0 auto;
			.title {
				font-size: 18px;
				margin-bottom: 15px;
				font-family: $avenir-semi-bold;
			}
			.text {
				font-size: 15px;
				line-height: 22px;
			}
		}
		.image_container {
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.description_section {
		padding-top: 55px;
		.right_block_desktop {
			.image_container {
				&:before {
					left: 0;
					right: unset;
				}
				&.active {
					&:before {
						transition-delay: 1.05s;
					}
				}
			}
		}
		.text_info {
			width: 100%;
			max-width: 100%;
			padding: 0 15px;
			margin: 0 auto 25px auto;
			.title {
				font-size: 16px;
				font-family: $avenir-semi-bold;
				margin-bottom: 10px;
			}
			.text {
				font-size: 15px;
				line-height: 24px;
			}
		}
		.image_container {
			position: relative;
			width: 100%;
			height: 200px;
			margin-bottom: 55px;
			&.active {
				&:before {
					width: 0;
					transition-delay: 0.35s;
				}
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				background-color: $color-white;
				z-index: 1;
				transition: width 0.6s $animation-function;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.slide_section {
		margin-top: 50px;
		padding-bottom: 50px;
		.title_cont {
			margin-bottom: 15px;
			.title {
				font-size: 20px;
				font-family: $avenir-medium;
			}
		}
		.slide_cont {
			position: relative;
			.gallery_slider {
				padding-bottom: 45px;
				overflow: hidden;
				.swiper-slide {
					&.swiper-slide-active {
						&.active {
							.slide_info {
								.image_container {
									&:before {
										width: 100%;
										left: 0;
										right: unset;
									}
								}
							}
						}
						.slide_info {
							.image_container {
								img {
									width: 100%;
								}
							}
							.info_container {
								.text {
									opacity: 1;
								}
							}
						}
					}
					.slide_info {
						.image_container {
							position: relative;
							width: 100%;
							height: 260px;
							margin-bottom: 15px;
							&.active {
								&:after {
									height: 0;
								}
							}
							&:after {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								left: 0;
								height: 100%;
								background-color: $color-white;
								z-index: 1;
								transition: height 0.6s $animation-function 0.3s;
							}
							&:before {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								width: 0;
								z-index: 2;
								background-color: $color-black;
								transition: width 0.6s $animation-function;
							}
							img {
								width: 0;
								height: 100%;
								object-fit: cover;
								transition: width 0.6s $animation-function;
							}
						}
						.info_container {
							.text {
								opacity: 0;
								font-size: 15px;
								transition: opacity 0.6s $animation-function;
							}
						}
					}
				}
				.swiper-button-prev, .swiper-button-next {
					display: flex;
					flex-direction: row;
					align-items: center;
					background-image: none;
					width: 12px;
					height: auto;
					margin-top: 0;
					top: unset;
					bottom: 0;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
				.swiper-button-prev {
					left: 20%;
				}
				.swiper-button-next {
					right: 20%;
				}
				.swiper-pagination {
					display: flex;
					flex-direction: row;
					justify-content: center;
					bottom: 4px;
					right: 0;
					.swiper-pagination-bullet {
						width: 12px;
						height: 12px;
						margin-right: 20px;
						margin-left: 0;
						background-color: transparent;
						border: 1px solid $color-black;
						opacity: 1;
						transition: background-color 0.3s $animation-function;
						&.swiper-pagination-bullet-active {
							background-color: $color-black;
						}
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	.feedback_section {
		position: relative;
		padding: 50px 0;
		&.active {
			&:before {
				width: 100%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 0;
			background-color: $color-black;
			transition: width 0.5s $animation-function;
			z-index: -1;
		}
		.title_cont {
			max-width: 225px;
			width: 100%;
			margin: 0 auto 20px auto;
			.title {
				font-size: 18px;
				font-family: $avenir-semi-bold;
				text-align: center;
				color: $color-white;
			}
		}
	}
	.material_info {
		position: relative;
		margin: 40px 0;
		&.active {
			&:before {
				height: 100%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 200px;
			right: 0;
			height: 0;
			background-color: #f8f8f7;
			z-index: -1;
			transition: height 0.6s $animation-function;
		}
		.info_block {
			padding: 0 15px;
			margin-top: 20px;
			margin-bottom: 25px;
			.title {
				font-size: 18px;
				font-family: $avenir-semi-bold;
				margin-bottom: 10px;
			}
			.text {
				font-size: 15px;
				line-height: 24px;
				font-family: $avenir-light;
			}
		}
		.image_container {
			position: relative;
			width: 100%;
			max-width: 275px;
			margin: 0 auto;
			height: 390px;
			&.active {
				&:before {
					height: 0;
				}
			}
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				background-color: $color-white;
				z-index: 1;
				transition: height 0.6s $animation-function 0.2s;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.object_calc {
		position: relative;
		padding-bottom: 40px;
		&:before {
			content: '';
			position: absolute;
			top: 100px;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: #f8f8f7;
			z-index: -1;
		}
		.top_info {
			.image_container {
				position: relative;
				width: 100%;
				height: 200px;
				margin-bottom: 25px;
				&.active {
					&:before {
						left: 0;
						width: 100%;
						right: unset;
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: unset;
					width: 0;
					z-index: 1;
					background-color: $color-black;
					transition: width 0.5s $animation-function;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.text_info {
				margin-bottom: 40px;
				.title {
					text-align: center;
					font-size: 20px;
					font-family: $avenir-semi-bold;
					margin-bottom: 10px;
				}
				.text {
					font-size: 15px;
					text-align: center;
				}
			}
		}
		.form_cont {
			margin-bottom: 30px;
			.material {
				position: relative;
				padding: 0;
				border: none;
				overflow: visible;
				margin-bottom: 40px;
				input {
					box-sizing: border-box;
					width: 100%;
					padding: 7px 0;
					border: none;
					border-radius: 0;
					box-shadow: none;
					border-bottom: 1px solid rgba(0, 0, 0, 0.2);
					background-color: transparent;
					font-size: 16px;
					outline: none;
					cursor: text;
					&:focus ~ label,
					&:valid ~ label {
						transform: scale(0.7);
						margin-bottom: 5px;
					}
					&:focus ~ hr {
						transform: scaleX(1);
						visibility: visible;
					}
				}
				hr {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					margin: 0;
					padding: 0;
					width: 100%;
					height: 2px;
					border: none;
					background: $color-black;
					font-size: 1px;
					will-change: transform, visibility;
					transition: all 200ms ease-out;
					transform: scaleX(0);
					visibility: hidden;
					z-index: 10;
				}
				label {
					position: absolute;
					bottom: 50%;
					left: 0;
					right: 0;
					transform: translateY(50%);
					font-size: 16px;
					color: $color-black;
					opacity: 0.3;
					transform-origin: 0 -150%;
					transition: transform 300ms ease;
					pointer-events: none;
					line-height: normal;
					margin-bottom: 0;
				}
			}
			.custom_btn {
				.my_btn {
					background-color: $color-black;
				}
			}
		}
		.custom_btn {
			.my_btn {
				background-color: #f8f8f7;
				border: 1px solid $color-black;
			}
		}
	}
	.advantages_section {
		padding: 40px 0 60px 0;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		.advantage_block {
			margin-bottom: 40px;
			.image_container {
				text-align: center;
				margin-bottom: 10px;
				img {
					width: 60px;
					height: 60px;
				}
			}
			.text_info {
				.title {
					font-size: 24px;
					font-family: $avenir-medium;
					text-align: center;
					margin-bottom: 15px;
				}
				.text {
					font-size: 14px;
					text-align: center;
				}
			}
		}
	}
	.review_slide_section {
		.review_slider {
			position: relative;
			&.active {
				.swiper-pagination, .swiper-button-next, .swiper-button-prev {
					opacity: 1;
				}
			}
			.swiper-slide {
				opacity: 0 !important;
				&.swiper-slide-active {
					opacity: 1 !important;
					&.active {
						.bottom_info {
							.text {
								&:before {
									width: 100%;
									left: 0;
									right: unset;
								}
							}
						}
						.review_user_info {
							&:after {
								height: 100%;
								top: 0;
								bottom: unset;
							}
						}
					}
				}
				.review_user_info {
					position: relative;
					padding: 30px 0;
					&.active {
						&:before {
							height: 100%;
						}
						.img_cont {
							&:before {
								height: 0;
							}
						}
						.title, .sub_title {
							opacity: 1;
						}
					}
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: 0;
						background-color: #f8f8f7;
						z-index: 2;
						transition: height 0.8s $animation-function;
					}
					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						height: 0;
						z-index: -1;
						background-color: #f8f8f7;
						transition: height 0.6s $animation-function 0.1s;
					}
					.img_cont {
						position: relative;
						text-align: center;
						margin-bottom: 20px;
						&:before {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							height: 100%;
							z-index: 1;
							background-color: #f8f8f7;
							transition: height 0.5s $animation-function 0.25s;
						}
						img {
							width: 120px;
							height: 120px;
						}
					}
					.title, .sub_title {
						opacity: 0;
						transition: opacity 0.5s $animation-function 0.35s;
					}
					.title {
						font-size: 18px;
						line-height: 26px;
						font-family: $avenir-medium;
						text-align: center;
					}
					.sub_title {
						font-size: 16px;
						line-height: 26px;
						text-align: center;
					}
				}
				.bottom_info {
					position: relative;
					padding: 30px 15px 105px 15px;
					&.active {
						&:before {
							height: 100%;
						}
						.text {
							opacity: 1;
						}
					}
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						height: 0;
						background-color: $color-black;
						z-index: -1;
						transition: height 0.6s $animation-function;
					}
					.text {
						font-size: 18px;
						font-family: $avenir-medium;
						color: $color-white;
						opacity: 0;
						transition: opacity 0.7s $animation-function 0.1s;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							width: 0;
							background-color: $color-black;
							transition: width 0.8s $animation-function;
							z-index: 1;
						}
					}
				}
			}
			.swiper-button-next, .swiper-button-prev {
				background-image: none;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 38px;
				top: unset;
				margin: 0;
				bottom: 26px;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					transform: translate(0 ,-50%);
					height: 3px;
					width: 0;
					background-color: $color-white;
					opacity: 0;
					transition: all 0.5s $animation-function;
				}
				&:hover {
					&:before {
						width: 60%;
						opacity: 1;
					}
					.arrow {
						border-color: $color-white;
					}
				}
				.arrow {
					border: solid #515151;;
					border-width: 0 3px 3px 0;
					display: block;
					padding: 6px;
					transition: 0.5s $animation-function;
				}
				.right {
					transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
				}
				.left {
					transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
				}
			}
			.swiper-button-prev {
				left: unset;
				right: 140px;
				&:before {
					left: 8px;
				}
			}
			.swiper-button-next {
				right: 15px;
				&:before {
					right: 8px;
				}
			}
			.swiper-pagination {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				bottom: 30px;
				height: 30px;
				.swiper-pagination-bullet {
					position: absolute;
					top: 0;
					right: 85px;
					bottom: 0;
					z-index: -1;
					opacity: 0;
					background-color: transparent;
					font-size: 24px;
					font-family: $avenir-medium;
					color: $color-white;
					width: auto;
					height: auto;
					margin: 0;
					transform: translateY(20px);
					transition: all 0.5s $animation-function;
					&.swiper-pagination-bullet-active {
						background-color: transparent;
						opacity: 1;
						z-index: 1;
						animation: moveFromTop 0.5s $animation-function 0s 1;
						transform: translateY(0px);
						@keyframes moveFromTop {
							0% {
								transform: translateY(-20px);
							}
							100% {
								transform: translateY(0px);
							}
						}
					}
				}
			}
			.swiper-pagination, .swiper-button-next, .swiper-button-prev {
				opacity: 0;
				transition: opacity 0.65s $animation-function 0.35s;
			}
		}
	}
	.about_bottom {
		padding: 50px 0;
		.section_title {
			margin-bottom: 20px;
			.title {
				font-size: 20px;
				font-family: $avenir-medium;
				color: $color-black-background;
				text-align: center;
			}
		}
		.text_block {
			margin-bottom: 35px;
			.text {
				max-height: 240px;
				overflow: hidden;
				transition: all 1s $animation-function;
				&.fullShow {
					max-height: 1000px;
				}
			}
		}
		.custom_btn {
			&.show_more {
				.my_btn {
					transition: all 0.4s $animation-function;
					&.isHidden {
						transform: translateY(20px);
						visibility: hidden;
						opacity: 0;
					}
				}
			}
			.my_btn {
				cursor: pointer;
				width: 240px;
				background-color: $color-black;
				border-color: $color-black;
				color: $color-white;
				font-size: 15px;
			}
		}
	}
}

#wrapper_building {
	padding-top: 20px;
	.build_info_section {
		.block_info {
			margin-bottom: 50px;
			.image_container {
				width: 100%;
				height: 320px;
				margin-bottom: 25px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.text_info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				.title {
					font-size: 20px;
					font-family: $avenir-semi-bold;
					margin-bottom: 20px;
				}
				.text {
					font-size: 15px;
					line-height: 25px;
				}
			}
		}
	}
	.building_slide_section {
		position: relative;
		background-color: $color-black;
		padding: 40px 0 30px 0;
		overflow: hidden;
		.tab_row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
			.tab_item {
				font-size: 18px;
				font-family: $avenir-semi-bold;
				opacity: 0.2;
				color: $color-white;
				cursor: pointer;
				transition: all 0.3s $animation-function;
				&.active {
					opacity: 1;
				}
			}
			span {
				position: relative;
				top: 0;
				bottom: 0;
				color: #515151;
				height: 100%;
			}
		}
		.sliders_cont {
			position: relative;
		}
		.building_slider {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			visibility: hidden;
			transform: translateY(40px);
			transition: all 0.7s $animation-function 0s;
			&.active {
				position: relative;
				transform: translateY(0px);
				opacity: 1;
				visibility: visible;
				transition: all 0.7s $animation-function 0.5s;
			}
			.swiper-slide {
				opacity: 0 !important;
				padding-bottom: 80px;
				&.swiper-slide-active {
					opacity: 1 !important;
					&.active {
						.image_container {
							img {
								width: 100%;
								transition: width 0.6s $animation-function 0.2s;
							}
							&:before {
								width: 100%;
								left: 0;
								right: unset;
							}
						}
					}
					.image_container {
						img {
							width: 100%;
							transition: width 0.6s $animation-function 0.2s;
						}
						&.active {
							&:before {
								width: 100%;
								left: 0;
								right: unset;
							}
						}
					}
				}
				.image_container {
					position: relative;
					width: 100%;
					height: 345px;
					margin-bottom: 30px;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
						width: 0;
						background-color: #515151;
						transition: width 0.8s $animation-function;
					}
					img {
						width: 0;
						height: 100%;
						object-fit: cover;
						transition: none;
					}
				}
				.text_info {
					.title {
						position: relative;
						color: $color-white;
						font-size: 24px;
						padding-bottom: 15px;
						text-align: center;
						margin-bottom: 15px;
						&:before {
							content: '';
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
							width: 40px;
							height: 2px;
							background-color: $color-white;
						}
					}
					.text {
						font-size: 15px;
						font-family: $avenir-light;
						color: $color-white;
						text-align: center;
						margin-bottom: 30px;
					}
				}
				.custom_btn {
					.my_btn {
						position: relative;
						background-color: transparent;
						border: 1px solid $color-white;
						color: $color-white;
						z-index: 1;
						span {
							position: relative;
							z-index: 3;
						}
						&:before {
							content: '';
							position: absolute;
							top: -10px;
							bottom: -10px;
							left: 20px;
							right: 20px;
							background-color: $color-black;
							z-index: 2;
						}
					}
				}
			}
			.swiper-button-next, .swiper-button-prev {
				background-image: none;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 38px;
				top: unset;
				margin: 0;
				bottom: 0;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					transform: translate(0 ,-50%);
					height: 3px;
					width: 0;
					background-color: $color-white;
					opacity: 0;
					transition: all 0.5s $animation-function;
				}
				&:hover {
					&:before {
						width: 60%;
						opacity: 1;
					}
					.arrow {
						border-color: $color-white;
					}
				}
				.arrow {
					border: solid #515151;;
					border-width: 0 3px 3px 0;
					display: block;
					padding: 6px;
					transition: 0.5s $animation-function;
				}
				.right {
					transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
				}
				.left {
					transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
				}
			}
			.swiper-button-prev {
				left: 25%;
				&:before {
					left: 8px;
				}
			}
			.swiper-button-next {
				right: 25%;
				&:before {
					right: 8px;
				}
			}
			.swiper-pagination {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				bottom: 2px;
				height: 30px;
				.swiper-pagination-bullet {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: -1;
					opacity: 0;
					background-color: transparent;
					font-size: 24px;
					font-family: $avenir-medium;
					color: $color-white;
					width: auto;
					height: auto;
					margin: 0;
					transform: translateY(20px);
					transition: all 0.5s $animation-function;
					text-align: center;
					&.swiper-pagination-bullet-active {
						background-color: transparent;
						opacity: 1;
						z-index: 1;
						animation: moveFromTop 0.5s $animation-function 0s 1;
						transform: translateY(0px);
						@keyframes moveFromTop {
							0% {
								transform: translateY(-20px);
							}
							100% {
								transform: translateY(0px);
							}
						}
					}
				}
			}
		}
	}

	.slide_section {
		margin-top: 50px;
		padding-bottom: 50px;
		.title_cont {
			margin-bottom: 15px;
			.title {
				font-size: 20px;
				font-family: $avenir-medium;
			}
		}
		.slide_cont {
			position: relative;
			.gallery_slider {
				padding-bottom: 45px;
				overflow: hidden;
				.swiper-slide {
					&.swiper-slide-active {
						&.active {
							.slide_info {
								.image_container {
									&:before {
										width: 100%;
										left: 0;
										right: unset;
									}
								}
							}
						}
						.slide_info {
							.image_container {
								img {
									width: 100%;
								}
							}
							.info_container {
								.text {
									opacity: 1;
								}
							}
						}
					}
					.slide_info {
						.image_container {
							position: relative;
							width: 100%;
							height: 260px;
							margin-bottom: 15px;
							&.active {
								&:after {
									height: 0;
								}
							}
							&:after {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								left: 0;
								height: 100%;
								background-color: $color-white;
								z-index: 1;
								transition: height 0.6s $animation-function 0.3s;
							}
							&:before {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								width: 0;
								z-index: 2;
								background-color: $color-black;
								transition: width 0.6s $animation-function;
							}
							img {
								width: 0;
								height: 100%;
								object-fit: cover;
								transition: width 0.6s $animation-function;
							}
						}
						.info_container {
							.text {
								opacity: 0;
								font-size: 15px;
								transition: opacity 0.6s $animation-function;
							}
						}
					}
				}
				.swiper-button-prev, .swiper-button-next {
					display: flex;
					flex-direction: row;
					align-items: center;
					background-image: none;
					width: 12px;
					height: auto;
					margin-top: 0;
					top: unset;
					bottom: 0;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
				.swiper-button-prev {
					left: 20%;
				}
				.swiper-button-next {
					right: 20%;
				}
				.swiper-pagination {
					display: flex;
					flex-direction: row;
					justify-content: center;
					bottom: 4px;
					right: 0;
					.swiper-pagination-bullet {
						width: 12px;
						height: 12px;
						margin-right: 20px;
						margin-left: 0;
						background-color: transparent;
						border: 1px solid $color-black;
						opacity: 1;
						transition: background-color 0.3s $animation-function;
						&.swiper-pagination-bullet-active {
							background-color: $color-black;
						}
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	.object_calc {
		position: relative;
		padding-bottom: 40px;
		&:before {
			content: '';
			position: absolute;
			top: 100px;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: #f8f8f7;
			z-index: -1;
		}
		.top_info {
			.image_container {
				position: relative;
				width: 100%;
				height: 200px;
				margin-bottom: 25px;
				&.active {
					&:before {
						left: 0;
						width: 100%;
						right: unset;
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: unset;
					width: 0;
					z-index: 1;
					background-color: $color-black;
					transition: width 0.5s $animation-function;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.text_info {
				margin-bottom: 40px;
				.title {
					text-align: center;
					font-size: 20px;
					font-family: $avenir-semi-bold;
					margin-bottom: 10px;
				}
				.text {
					font-size: 15px;
					text-align: center;
				}
			}
		}
		.form_cont {
			margin-bottom: 30px;
			.material {
				position: relative;
				padding: 0;
				border: none;
				overflow: visible;
				margin-bottom: 40px;
				input {
					box-sizing: border-box;
					width: 100%;
					padding: 7px 0;
					border: none;
					border-radius: 0;
					box-shadow: none;
					border-bottom: 1px solid rgba(0, 0, 0, 0.2);
					background-color: transparent;
					font-size: 16px;
					outline: none;
					cursor: text;
					&:focus ~ label,
					&:valid ~ label {
						transform: scale(0.7);
						margin-bottom: 5px;
					}
					&:focus ~ hr {
						transform: scaleX(1);
						visibility: visible;
					}
				}
				hr {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					margin: 0;
					padding: 0;
					width: 100%;
					height: 2px;
					border: none;
					background: $color-black;
					font-size: 1px;
					will-change: transform, visibility;
					transition: all 200ms ease-out;
					transform: scaleX(0);
					visibility: hidden;
					z-index: 10;
				}
				label {
					position: absolute;
					bottom: 50%;
					left: 0;
					right: 0;
					transform: translateY(50%);
					font-size: 16px;
					color: $color-black;
					opacity: 0.3;
					transform-origin: 0 -150%;
					transition: transform 300ms ease;
					pointer-events: none;
					line-height: normal;
					margin-bottom: 0;
				}
			}
			.custom_btn {
				.my_btn {
					background-color: $color-black;
				}
			}
		}
		.custom_btn {
			.my_btn {
				background-color: #f8f8f7;
				border: 1px solid $color-black;
			}
		}
	}
	.advantages_section {
		padding: 40px 0 60px 0;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		.advantage_block {
			margin-bottom: 40px;
			.image_container {
				text-align: center;
				margin-bottom: 10px;
				img {
					width: 60px;
					height: 60px;
				}
			}
			.text_info {
				.title {
					font-size: 24px;
					font-family: $avenir-medium;
					text-align: center;
					margin-bottom: 15px;
				}
				.text {
					font-size: 14px;
					text-align: center;
				}
			}
		}
	}
	.review_slide_section {
		.review_slider {
			position: relative;
			&.active {
				.swiper-pagination, .swiper-button-next, .swiper-button-prev {
					opacity: 1;
				}
			}
			.swiper-slide {
				opacity: 0 !important;
				&.swiper-slide-active {
					opacity: 1 !important;
					&.active {
						.bottom_info {
							.text {
								&:before {
									width: 100%;
									left: 0;
									right: unset;
								}
							}
						}
						.review_user_info {
							&:after {
								height: 100%;
								top: 0;
								bottom: unset;
							}
						}
					}
				}
				.review_user_info {
					position: relative;
					padding: 30px 0;
					&.active {
						&:before {
							height: 100%;
						}
						.img_cont {
							&:before {
								height: 0;
							}
						}
						.title, .sub_title {
							opacity: 1;
						}
					}
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: 0;
						background-color: #f8f8f7;
						z-index: 2;
						transition: height 0.8s $animation-function;
					}
					&:before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						height: 0;
						z-index: -1;
						background-color: #f8f8f7;
						transition: height 0.6s $animation-function 0.1s;
					}
					.img_cont {
						position: relative;
						text-align: center;
						margin-bottom: 20px;
						&:before {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							height: 100%;
							z-index: 1;
							background-color: #f8f8f7;
							transition: height 0.5s $animation-function 0.25s;
						}
						img {
							width: 120px;
							height: 120px;
						}
					}
					.title, .sub_title {
						opacity: 0;
						transition: opacity 0.5s $animation-function 0.35s;
					}
					.title {
						font-size: 18px;
						line-height: 26px;
						font-family: $avenir-medium;
						text-align: center;
					}
					.sub_title {
						font-size: 16px;
						line-height: 26px;
						text-align: center;
					}
				}
				.bottom_info {
					position: relative;
					padding: 30px 15px 105px 15px;
					&.active {
						&:before {
							height: 100%;
						}
						.text {
							opacity: 1;
						}
					}
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						height: 0;
						background-color: $color-black;
						z-index: -1;
						transition: height 0.6s $animation-function;
					}
					.text {
						font-size: 18px;
						font-family: $avenir-medium;
						color: $color-white;
						opacity: 0;
						transition: opacity 0.7s $animation-function 0.1s;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							width: 0;
							background-color: $color-black;
							transition: width 0.8s $animation-function;
							z-index: 1;
						}
					}
				}
			}
			.swiper-button-next, .swiper-button-prev {
				background-image: none;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 38px;
				top: unset;
				margin: 0;
				bottom: 26px;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					transform: translate(0 ,-50%);
					height: 3px;
					width: 0;
					background-color: $color-white;
					opacity: 0;
					transition: all 0.5s $animation-function;
				}
				&:hover {
					&:before {
						width: 60%;
						opacity: 1;
					}
					.arrow {
						border-color: $color-white;
					}
				}
				.arrow {
					border: solid #515151;;
					border-width: 0 3px 3px 0;
					display: block;
					padding: 6px;
					transition: 0.5s $animation-function;
				}
				.right {
					transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
				}
				.left {
					transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
				}
			}
			.swiper-button-prev {
				left: unset;
				right: 140px;
				&:before {
					left: 8px;
				}
			}
			.swiper-button-next {
				right: 15px;
				&:before {
					right: 8px;
				}
			}
			.swiper-pagination {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				bottom: 30px;
				height: 30px;
				.swiper-pagination-bullet {
					position: absolute;
					top: 0;
					right: 85px;
					bottom: 0;
					z-index: -1;
					opacity: 0;
					background-color: transparent;
					font-size: 24px;
					font-family: $avenir-medium;
					color: $color-white;
					width: auto;
					height: auto;
					margin: 0;
					transform: translateY(20px);
					transition: all 0.5s $animation-function;
					&.swiper-pagination-bullet-active {
						background-color: transparent;
						opacity: 1;
						z-index: 1;
						animation: moveFromTop 0.5s $animation-function 0s 1;
						transform: translateY(0px);
						@keyframes moveFromTop {
							0% {
								transform: translateY(-20px);
							}
							100% {
								transform: translateY(0px);
							}
						}
					}
				}
			}
			.swiper-pagination, .swiper-button-next, .swiper-button-prev {
				opacity: 0;
				transition: opacity 0.65s $animation-function 0.35s;
			}
		}
	}
	.about_bottom {
		padding: 50px 0;
		.section_title {
			margin-bottom: 20px;
			.title {
				font-size: 20px;
				font-family: $avenir-medium;
				color: $color-black-background;
				text-align: center;
			}
		}
		.text_block {
			margin-bottom: 35px;
			.text {
				max-height: 245px;
				overflow: hidden;
				transition: all 1s $animation-function;
				&.fullShow {
					max-height: 1000px;
				}
			}
		}
		.custom_btn {
			&.show_more {
				.my_btn {
					transition: all 0.4s $animation-function;
					&.isHidden {
						transform: translateY(20px);
						visibility: hidden;
						opacity: 0;
					}
				}
			}
			.my_btn {
				cursor: pointer;
				width: 240px;
				background-color: $color-black;
				border-color: $color-black;
				color: $color-white;
				font-size: 15px;
			}
		}
	}
}

@import "media-sm";
@import "media-md";
@import "media-lg";
@import "media-xl";