@media (min-width: 1200px) {

	#wrapper_all {
		header {
			.container {
				max-width: 1660px;
				padding: 0 55px;
			}
			.header_container {
				position: relative;
				padding: 20px 0;
				&.white {
					transition: all 0.5s $animation-function 0.5s;
				}
				&.black {
					transition: all 0.5s $animation-function 0.5s;
					.phone_row {
						.phone_block {
							color: $color-black;
						}
					}
				}
				&.half {
					.right_header_block {
						.phone_row {
							.phone_block {
								.phone {
									&.black {
										display: none;
									}
								}
							}
						}
					}
				}
				&.onBlack {
					.right_header_block {
						.phone_row {
							.phone_block {
								transition-delay: 0s;
								color: $color-black;
								.phone {
									transition-delay: 0s;
									&.white {
										display: none;
									}
									&.black {
										display: block;
									}
								}
							}
						}
						.menu_icon {
							span {
								background-color: $color-black;
							}
						}
					}
				}
				.logo_container {
					width: 265px;
					height: 60px;
					.logo {
						width: 100%;
						height: 100%;
					}
				}
				.right_header_block {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
				.menu_icon {
					position: relative;
					width: 22px;
					height: 12px;
					&.white {
						span {
							background-color: $color-white;
						}
					}
					&.isDisabled {
						pointer-events: none;
					}
					span {
						height: 2px;
						&:nth-child(2) {
							top: 10px;
						}
					}
				}
				.phone_row {
					display: flex;
					flex-direction: row;
					align-items: center;
					.phone_block {
						display: flex;
						flex-direction: row;
						align-items: center;
						color: $color-white;
						font-size: 16px;
						font-family: $avenir-medium;
						letter-spacing: 0.44px;
						margin-right: 40px;
						.phone {
							margin-right: 12px;
							width: 16px;
							height: 16px;
							//&.black {
							//	display: none;
							//}
						}
					}
				}
			}
		}
		#stages_modal {
			.modal-dialog {
				max-width: 1110px;
			}
			.modal-content {
				.modal-header {
					padding: 30px 45px 0 45px;
					.modal-title {
						font-size: 36px;
					}
					.close {
						right: 45px;
					}
				}
				.modal-body {
					max-height: 550px;
					.detail_block {
						padding: 35px;
						&:nth-child(even) {
							&:before {
								left: -285px;
								width: calc(100% + 570px);
							}
						}
					}
					.title_cont {
						margin-right: 20px;
						.title {
							font-size: 24px;
						}
					}
					.text_info {
						margin-left: 20px;
					}
				}
			}
		}
	}

	#wrapper_main {
		position: relative;
		margin-top: 0 !important;
		height: 100vh;
		overflow: hidden;
		.main_skew_line {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 14.5%;
			width: 5px;
			height: 100%;
			transform: skew(-9deg);
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				height: 0;
				background-color: $color-black;
				transition: all 0.5s $animation-function;
			}
		}
		.main_block_container {
			height: 100%;
			.main_block {
				position: relative;
				height: 100%;
				transition: width 0.75s $animation-function;
				&.active {
					&.left {
						&:before {
							width: 0;
						}
						.block_bg {
							.bg {
								transform: translateX(0);
							}
						}
						.block_info {
							opacity: 1;
							transform: translate(0, -50%);
						}
					}
					&.right {
						.block_info {
							transform: translate(0, -50%);
							opacity: 1;
						}
					}
				}
				&.isRollUp {
					.block_info {
						max-width: 235px;
						.title_cont {
							transform: translateY(40px);
							transition-delay: 0.3s;
						}
						.text_cont, .custom_btn {
							transform: translateY(40px);
							opacity: 0;
						}
						.text_cont {
							position: absolute;
							visibility: hidden;
							transition-delay: 0.15s;
						}
						.custom_btn {
							position: absolute;
							visibility: hidden;
							transition-delay: 0s;
						}
					}
				}
				&.left {
					width: 85%;
					z-index: 1;
					overflow: hidden;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						bottom: 0;
						background-color: $color-white;
						z-index: 5;
						transition: width 0.5s $animation-function 0.5s;
					}
					&.isRollUp {
						.block_info {
							.title_cont {
								.title {
									font-size: 32px;
									text-align: left;
								}
							}
							.text_cont {
								.text {
									text-align: left;
								}
							}
							.custom_btn {
								justify-content: flex-start;
							}
						}
					}
					.block_bg {
						.bg {
							transform: translateX(30px);
							transition: transform 0.75s $animation-function 0.5s;
						}
					}
					.block_info {
						margin: 0 auto 0 20%;
						transform: translate(30px, -50%);
						opacity: 0;
						.title_cont {
							.title {
								text-align: left;
								font-size: 48px;
							}
						}
						.text_cont {
							.text {
								text-align: left;
							}
						}
						.custom_btn {
							justify-content: flex-start;
						}
					}
				}
				&.right {
					width: 15%;
					z-index: 2;
					pointer-events: none;
					&.isRollUp {
						.block_info {
							.title_cont {
								.title {
									font-size: 32px;
									text-align: right;
								}
							}
							.text_cont {
								.text {
									text-align: right;
								}
							}
							.custom_btn {
								justify-content: flex-end;
							}
						}
					}
					.block_info {
						margin: 0 20% 0 auto;
						transform: translate(-30px, -50%);
						opacity: 0;
						.title_cont {
							.title {
								text-align: right;
								font-size: 48px;
							}
						}
						.text_cont {
							.text {
								text-align: right;
							}
						}
						.custom_btn {
							justify-content: flex-end;
						}
					}
					.skew_line {
						position: absolute;
						top: 0;
						bottom: 0;
						right: -40%;
						width: 185%;
						z-index: 3;
						transform: skew(-9deg);
						transition: all 0.8s $animation-function;
						overflow: hidden;
						&.active {
							.bg {
								transform: translateX(0);
							}
							&:after {
								height: 100%;
							}
							&:before {
								width: 0;
							}
						}
						&:after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							height: 0;
							width: 5px;
							background-color: $color-black;
							transition: height 0.5s $animation-function 0s;
							z-index: 55555555;
						}
						&:before {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							width: 100%;
							background-color: $color-white;
							z-index: 6;
							transition: width 0.5s $animation-function 0.5s;
						}
						.bg {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transform: translateX(-30px);
							transition: transform 0.75s $animation-function 0.5s;
						}
						.bg_overlay {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							z-index: 5;
							background-color: rgba(0, 0, 0, 0.35);
						}
					}
				}
				.block_info {
					max-width: 600px;
					width: 100%;
					margin: 0;
					padding: 0;
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					z-index: 4;
					transition: transform 0.75s $animation-function 0.6s, opacity 0.75s $animation-function 0.6s;
					.title_cont {
						margin-bottom: 25px;
						width: 100%;
						transform: translateY(0);
						transition: transform 0.3s $animation-function;
						transition-delay: 0s;
						.title {
							font-size: 32px;
							line-height: 44px;
							font-family: $avenir-bold;
						}
					}
					.text_cont {
						position: relative;
						margin-bottom: 35px;
						width: 100%;
						transform: translateY(0);
						opacity: 1;
						visibility: visible;
						transition: transform 0.3s $animation-function, opacity 0.3s $animation-function;
						transition-delay: 0.15s;
						.text {
							color: $color-white;
						}
					}
					.custom_btn {
						position: relative;
						transform: translateY(0);
						visibility: visible;
						opacity: 1;
						transition: transform 0.3s $animation-function, opacity 0.3s $animation-function;
						transition-delay: 0.3s;
					}
				}
			}
		}
	}

	#wrapper_contacts {
		.section_title {
			.title {
				font-size: 48px;
			}
		}
		.bottom_block {
			padding: 0 60px;
			bottom: 40px;
		}
	}

	#wrapper_about {
		margin-top: 100px;
		.about_info {
			.container {
				margin-left: 7%;
				margin-right: 7%;
				max-width: 86%;
			}
			.about_block {
				margin-bottom: 80px !important;
				[class*='col'] {
					&:nth-child(odd) {
						padding-right: 30px !important;
					}
					&:nth-child(even) {
						padding-left: 30px !important;
					}
				}
				.title, .text {
					&.first {
						padding-left: 50px;
					}
				}
				.title {
					font-size: 36px;
				}
				.text {
					font-size: 18px;
				}
				.image_cont {
					max-height: 630px;
				}
			}
		}
		.stages {
			padding: 80px 0;
			.container {
				max-width: 1065px;
			}
			.section_title {
				margin-bottom: 60px;
			}
			.stage_block {
				.stage_text {
					.text {
						font-size: 20px;
					}
				}
			}
		}
		.slider {
			padding: 80px 0;
			.section_title {
				margin-bottom: 50px;
				.title {
					font-size: 36px;
				}
			}
			.about_slider {
				.swiper-slide {
					padding: 0 40px;
					.image_container {
						height: 600px;
					}
					.text_bottom_slide {
						width: 100%;
						max-width: 500px;
						margin: 30px auto 35px auto;
					}
				}
				.swiper-button-prev, .swiper-button-next {
					bottom: unset;
					top: 40%;
					transform: translateY(-50%);
				}
				.swiper-button-prev {
					left: 0;
				}
				.swiper-button-next {
					right: 0;
				}
				.swiper-pagination {
					bottom: 20px;
				}
			}
		}
		.guarantee {
			padding: 70px 0 60px 0;
		}
		.about_bottom {
			padding: 120px 0;
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.custom_btn {
				.my_btn {
					border: 1px solid $color-black-background;
					color: $color-black;
					background-color: transparent;
				}
			}
		}
	}

	#wrapper_portfolio {
		padding-top: 100px;
		position: relative;
		overflow: hidden;
		.container {
			max-width: 1250px;
		}
		.section_top_info {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding-top: 120px;
			padding-bottom: 180px;
			margin-top: 0;
			.container {
				max-width: 1250px;
			}
			.section_title {
				margin-bottom: 0;
				margin-right: 45px;
				.title {
					font-size: 84px;
					opacity: 0.07;
					text-transform: uppercase;
					font-family: $avenir-semi-bold;
					line-height: 1;
				}
			}
			.text_info {
				margin-left: 45px;
				.text {
					&.bold {
						font-size: 36px;
						margin-bottom: 35px;
					}
				}
			}
		}
		.portfolio_container {
			position: relative;
			padding-top: 155px;
			padding-bottom: 120px;
			.block_row {
				[class*='col'] {
					&:nth-child(odd) {
						padding-right: 50px !important;
						.portfolio_info {
							.portfolio_image {
								animation-delay: 0.4s;
							}
							.portfolio_text {
								.title {
									animation-delay: 0.5s;
								}
								.text {
									animation-delay: 0.6s;
								}
							}
						}
					}
					&:nth-child(even) {
						padding-left: 50px !important;
						transform: translateY(140px);
						.portfolio_info {
							.portfolio_image {
								animation-delay: 0.55s;
							}
							.portfolio_text {
								.title {
									animation-delay: 0.65s;
								}
								.text {
									animation-delay: 0.75s;
								}
							}
						}
					}
				}
			}
			.portfolio_info {
				margin-bottom: 100px;
				.portfolio_image {
					height: 430px;
					margin-bottom: 30px;
				}
			}
			.btn_select_row {
				margin: 0;
				padding: 0;
				.custom_btn {
					position: absolute;
					top: 75%;
					transform: translateY(-50%);
					opacity: 0.06;
					&.build {
						left: -5%;
						transform: rotate(270deg);
						transform-origin: left center;
					}
					&.repair {
						right: -5%;
						transform: rotate(90deg);
						transform-origin: right center;
					}
					.my_btn {
						border: none;
						width: 100%;
						font-size: 80px;
						font-family: $avenir-semi-bold;
						padding: 0;
						text-transform: lowercase;
						background-color: transparent;
					}
				}
			}
		}
	}

	#wrapper_selected_portfolio {
		padding-top: 40px;
		.container {
			max-width: 100%;
		}
		.portfolio_info {
			padding-bottom: 0;
			max-width: 100%;
			&.active {
				&:before {
					width: 200%;
				}
			}
			.row {
				.left_block {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}
			&:before {
				margin-top: 0;
				top: 40px;
				bottom: 40px;
				left: -100%;
				right: -100%;
			}
			.image_container {
				height: 620px;
				margin-bottom: 0;
				transform: translateX(15px);
			}
			.text_info {
				padding: 0 90px 0 85px;
				.title {
					font-size: 48px;
				}
			}
		}
		.portfolio_slider {
			margin: 200px 0 100px 0;
			.selected-portfolio-slider {
				width: 100%;
				max-width: 1550px;
				margin: 0 auto;
				.swiper-slide {
					.image_container {
						height: 640px;
					}
				}
			}
		}
		.feedback_block {
			max-width: 1120px;
			&:before {
				display: none;
			}
			.row {
				[class*='col'] {
					&:nth-child(1) {
						padding-right: 50px !important;
					}
					&:nth-child(2) {
						padding-left: 50px !important;
					}
				}
			}
			.image_container {
				height: 375px;
			}
			.text_info {
				.title {
					font-size: 30px;
				}
			}
		}
		.works_navigation {
			padding: 30px 0 100px 0;
			width: 100%;
			max-width: 1360px;
			margin: 0 auto;
			.row {
				[class*='col'] {
					&:nth-child(1) {
						padding-right: 110px !important;
					}
					&:nth-child(2) {
						padding-left: 110px !important;
					}
				}
			}
			.work_block {
				margin-bottom: 180px;
				&.prev {
					transform: translate(60px, 25px);
					.image_container {
						&:before {
							transform: translate(-60px, -60px);
						}
					}
				}
				&.next {
					transform: translate(-60px, 25px);
					.image_container {
						&:before {
							transform: translate(60px, -60px);
						}
					}
				}
				.image_container {
					height: 430px;
				}
				.work_info {
					.title {
						font-size: 30px;
					}
					.text {
						font-size: 16px;
						line-height: 26px;
					}
				}
			}
		}
	}

	#wrapper_repair {
		.main_page {
			&:after {
				right: -55%;
				bottom: 0;
				width: 1100px;
				transform: skew(60deg);
			}
			&:before {
				height: 300px;
				bottom: -150px;
				transform: skewY(-7deg);
			}
			.text_block {
				top: 50%;
			}
			.sofa_block {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				bottom: unset;
				right: 60px;
				max-width: 600px;
			}
			.description_block {
				max-width: 100%;
				margin: 0 auto 0 0;
				padding-left: 160px;
				.title {
					font-size: 36px;
					margin-bottom: 40px;
				}
			}
		}
		.description_section {
			padding-top: 200px;
			.row {
				margin-bottom: 140px !important;
				.left_block_desktop {
					.text_info {
						padding-left: 0;
						padding-right: 80px;
						margin: 0 0 0 auto;
					}
				}
				.right_block_desktop {
					.image_container {
						padding-right: 0;
						padding-left: 80px;
					}
				}
			}
			.text_info {
				max-width: 480px;
				margin: 0 auto 0 0;
				padding: 0 0 0 80px;
				.title {
					font-size: 30px;
					margin-bottom: 30px;
				}
				.text_info {
					font-size: 18px;
					line-height: 28px;
				}
			}
			.image_container {
				height: 300px;
				padding-left: 0;
				padding-right: 80px;
			}
		}
		.slide_section {
			margin-top: 0;
			.title_cont {
				margin: 0 auto 50px auto;
				.title {
					font-size: 36px;
				}
			}
			.slide_cont {
				.gallery_slider {
					padding-bottom: 35px;
					.swiper-slide {
						padding: 0 40px;
						.slide_info {
							.image_container {
								position: relative;
								height: 640px;
								margin-bottom: 30px;
							}
							.info_container {
								width: 100%;
								max-width: 500px;
								margin: 0 auto;
								transform: translateY(40px);
								opacity: 0;
								transition: all 0.5s $animation-function 0.35s;
								&.active {
									transform: translateY(0);
									opacity: 1;
								}
							}
						}
					}
					.swiper-button-prev, .swiper-button-next {
						height: 20px;
						top: 45%;
						transform: translateY(-50%);
					}
					.swiper-button-prev {
						left: 0;
					}
					.swiper-button-next {
						right: 0;
					}
				}
			}
		}
		.feedback_section {
			padding: 70px 0;
			.title_cont {
				max-width: 430px;
				.title {
					font-size: 36px;
				}
			}
		}
		.material_info {
			margin: 120px 0 280px 0;
			&:before {
				left: 80px;
				right: 475px;
			}
			.info_block {
				padding: 180px 0 310px 0;
				max-width: 460px;
				.title {
					font-size: 36px;
				}
			}
			.image_container {
				height: 680px;
				transform: translate(-160px, 240px);
			}
		}
		.object_calc {
			padding-bottom: 75px;
			&:before {
				top: 130px;
			}
		}
		.advantages_section {
			padding: 120px 0;
			.advantage_block {
				.image_container {
					margin-bottom: 20px;
				}
				.text_info {
					.title {
						font-size: 30px;
					}
					.text {
						font-size: 18px;
						line-height: 28px;
					}
				}
			}
		}
		.review_slide_section {
			.review_slider {
				.swiper-slide {
					.bottom_info {
						height: 470px;
						padding: 0 30px 0 160px;
						.text {
							width: 100%;
							max-width: 745px;
							margin: 0 auto 0 0;
							font-size: 30px;
						}
					}
				}
				.swiper-button-prev {
					right: unset;
					left: 56%;
				}
				.swiper-button-next {
					right: 35%;
				}
				.swiper-pagination {
					.swiper-pagination-bullet {
						left: 60%;
					}
				}
			}
		}
		.about_bottom {
			padding: 120px 0;
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.custom_btn {
				.my_btn {
					border: 1px solid $color-black-background;
					color: $color-black;
					background-color: transparent;
				}
			}
		}
	}

	#wrapper_building {
		padding-top: 30px;
		.build_info_section {
			padding-bottom: 40px;
			.container {
				max-width: 100%;
				padding: 0;
			}
			.row {
				margin-bottom: 80px !important;
				[class*='col'] {
					&:nth-child(3) {
						padding-right: 60px !important;
					}
					&:nth-child(4) {
						padding-left: 60px !important;
					}
				}
				&.bottom_row {
					[class*='col'] {
						&:nth-child(1) {
							padding-right: 60px !important;
						}
						&:nth-child(2) {
							padding-left: 60px !important;
						}
					}
					.block_info {
						.text_info {
							margin: 0 auto 0 0;
						}
					}
				}
			}
			.block_info {
				.text_info {
					width: 100%;
					max-width: 570px;
					margin: 0 0 0 auto;
					.title {
						font-size: 36px;
						margin-bottom: 40px;
					}
					.text {
						font-size: 18px;
						line-height: 28px;
					}
				}
				.image_container {
					height: 500px;
				}
			}
		}
		.building_slide_section {
			position: relative;
			padding: 80px 0;
			.container {
				position: relative;
				max-width: 1360px;
			}
			.tab_row {
				position: absolute;
				top: 30px;
				right: 0;
				left: 0;
				width: 100%;
				max-width: 50%;
				margin: 0 0 0 auto;
				z-index: 3;
				.tab_item {
					font-size: 40px;
				}
			}
			.building_slider {
				.swiper-slide {
					.row {
						[class*='col'] {
							&:nth-child(1) {
								padding-right: 50px !important;
							}
							&:nth-child(2) {
								padding-left: 50px !important;
							}
						}
					}
					.image_container {
						height: 700px;
					}
					.text_info {
						width: 100%;
						max-width: 420px;
						margin: 0 auto;
						padding-top: 0;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: 100%;
						.title {
							font-size: 32px;
						}
						.text {
							font-size: 18px;
							line-height: 28px;
						}
					}
				}
				.swiper-button-next, .swiper-button-prev {
					bottom: 19px;
				}
				.swiper-button-prev {
					right: 9%;
				}
				.swiper-button-next {
					right: 0;
				}
				.swiper-pagination {
					justify-content: flex-end;
					max-width: 50%;
					bottom: 20px;
					padding-left: 50px;
					.swiper-pagination-bullet {
						right: 70px;
					}
				}
			}
		}

		.slide_section {
			margin-top: 0;
			.title_cont {
				margin: 0 auto 50px auto;
				.title {
					font-size: 36px;
				}
			}
			.slide_cont {
				.gallery_slider {
					padding-bottom: 35px;
					.swiper-slide {
						padding: 0 40px;
						.slide_info {
							.image_container {
								position: relative;
								height: 640px;
								margin-bottom: 30px;
							}
							.info_container {
								width: 100%;
								max-width: 500px;
								margin: 0 auto;
								transform: translateY(40px);
								opacity: 0;
								transition: all 0.5s $animation-function 0.35s;
								&.active {
									transform: translateY(0);
									opacity: 1;
								}
							}
						}
					}
					.swiper-button-prev, .swiper-button-next {
						height: 20px;
						top: 45%;
						transform: translateY(-50%);
					}
					.swiper-button-prev {
						left: 0;
					}
					.swiper-button-next {
						right: 0;
					}
				}
			}
		}
		.object_calc {
			padding-bottom: 75px;
			&:before {
				top: 130px;
			}
		}
		.advantages_section {
			padding: 120px 0;
			.advantage_block {
				.image_container {
					margin-bottom: 20px;
				}
				.text_info {
					.title {
						font-size: 30px;
					}
					.text {
						font-size: 18px;
						line-height: 28px;
					}
				}
			}
		}
		.review_slide_section {
			.review_slider {
				.swiper-slide {
					.bottom_info {
						height: 470px;
						padding: 0 30px 0 160px;
						.text {
							width: 100%;
							max-width: 745px;
							margin: 0 auto 0 0;
							font-size: 30px;
						}
					}
				}
				.swiper-button-prev {
					right: unset;
					left: 56%;
				}
				.swiper-button-next {
					right: 35%;
				}
				.swiper-pagination {
					.swiper-pagination-bullet {
						left: 60%;
					}
				}
			}
		}
		.about_bottom {
			padding: 120px 0;
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.custom_btn {
				.my_btn {
					border: 1px solid $color-black-background;
					color: $color-black;
					background-color: transparent;
				}
			}
		}
	}
}