@media (min-width: 992px) {

    #wrapper_all {
        footer {
            &.active {
                .container {
                    .row {
                        &:before {
                            height: 100px;
                            opacity: 1;
                            transition-delay: 0.4s;
                        }
                    }
                }
            }
            .container {
                .row {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 2px;
                        height: 0;
                        opacity: 0;
                        background-color: $color-white;
                        transform: translate(-50%, -50%);
                        transition: height 0.5s $animation-function, opacity 0.5s $animation-function;
                        transform-origin: top;
                    }
                }
            }
        }
        #stages_modal {
            .modal-dialog {
                max-width: 720px;
            }
            .modal-content {
                .modal-header {
                    padding: 30px;
                    .close {
                        right: 30px;
                    }
                }
                .modal-body {
                    max-height: 550px;
                    .detail_block {
                        position: relative;
                        padding: 15px;
                        &:nth-child(even) {
                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: -90px;
                                bottom: 0;
                                right: 0;
                                width: calc(100% + 180px);
                                background-color: #f8f8f7;
                                z-index: 0;
                            }
                        }
                    }
                    .title_cont {
                        margin-bottom: 0;
                        margin-right: 15px;
                    }
                    .text_info {
                        margin-left: 15px;
                        .text {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    #wrapper_contacts {
        .bottom_block {
            padding: 0 47px;
            .socials_row {
                a {
                    margin-right: 50px;
                }
            }
        }
    }

    #wrapper_about {
        .about_info {
            .about_block {
                margin-bottom: 80px !important;
                [class*='col'] {
                    &:nth-child(odd) {
                        padding-right: 25px !important;
                    }
                    &:nth-child(even) {
                        padding-left: 25px !important;
                    }
                }
                .title {
                    font-size: 30px;
                }
                .image_cont {
                    height: 100%;
                    max-height: 375px;
                }
            }
        }
        .stages {
            .row {
                [class*='col'] {
                    margin-bottom: 60px;
                }
            }
            .section_title {
                margin-bottom: 60px;
            }
            .stage_block {
                .stage_img {
                    img {
                        width: 145px;
                        height: 145px;
                    }
                }
            }
            .arrow_img_cont {
                img {
                    width: 70px;
                    object-fit: contain;
                }
            }
            .custom_btn {
                margin-top: 0;
            }
        }
        .slider {
            padding: 100px 0;
            .section_title {
                .title {
                    font-size: 30px;
                }
            }
            .about_slider {
                .swiper-slide {
                    .image_container {
                        height: 525px;
                    }
                    .text_bottom_slide {
                        width: 100%;
                        max-width: 500px;
                        margin: 25px auto 45px auto;
                    }
                }
                .swiper-button-prev {
                    left: 35%;
                }
                .swiper-button-next {
                    right: 35%;
                }
            }
        }
        .guarantee {
            padding: 50px 0 20px 0;
            .section_title {
                margin-bottom: 30px;
                .title {
                    font-size: 36px;
                }
            }
        }
        .about_bottom {
            padding: 80px 0 50px 0;
            .section_title {
                .title {
                    font-size: 32px;
                }
            }
            .text_block {
                .text {
                    font-size: 18px;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    #wrapper_portfolio {
        .section_top_info {
            padding-top: 150px;
            padding-bottom: 100px;
            .container {
                max-width: 790px;
            }
            .text_info {
                .text {
                    font-size: 18px;
                    line-height: 28px;
                    &.bold {
                        font-size: 32px;
                        margin-bottom: 25px;
                        line-height: 1.3;
                    }
                }
            }
        }
        .portfolio_container {
            padding-bottom: 90px;
            .btn_select_row {
                margin-bottom: 60px;
                padding: 0 53px;
                .custom_btn {
                    .my_btn {
                        width: 345px;
                        font-size: 32px;
                        padding: 10px 0;
                    }
                }
            }
            .block_row {
                [class*='col'] {
                    &:nth-child(even) {
                        transform: translateY(70px);
                    }
                }
            }
            .portfolio_info {
                .portfolio_image {
                    height: 340px;
                }
                .portfolio_text {
                    .title {
                        font-size: 30px;
                        margin-bottom: 15px;
                    }
                    .text {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #wrapper_selected_portfolio {
        .portfolio_info {
            width: 100%;
            max-width: 830px;
            margin: 0 auto;
            &:before {
                margin-top: 380px;
            }
            .image_container {
                height: 620px;
                margin-bottom: 40px;
            }
            .text_info {
                padding: 0 30px;
            }
        }
        .portfolio_slider {
            .selected-portfolio-slider {
                margin-bottom: 100px;
                .swiper-slide {
                    .image_container {
                        height: 475px;
                    }
                }
            }
        }
        .feedback_block {
            max-width: 100%;
            &:before {
                display: none;
            }
            .row {
                [class*='col'] {
                    &:nth-child(1) {
                        padding-right: 15px !important;
                    }
                    &:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 15px !important;
                    }
                }
            }
            .image_container {
                margin-bottom: 0;
            }
            .text_info {
                .title {
                    text-align: left;
                }
                .text {
                    text-align: left;
                }
            }
            .custom_btn {
                justify-content: flex-start;
            }
        }
        .works_navigation {
            padding: 30px 0 80px 0;
            .row {
                [class*='col'] {
                    &:nth-child(1) {
                        padding-right: 75px !important;
                    }
                    &:nth-child(2) {
                        padding-left: 75px !important;
                    }
                }
            }
            .work_block {
                margin-bottom: 150px;
                &.active {
                    .image_container {
                        &:before {
                            height: 100%;
                        }
                    }
                }
                &.next {
                    &.active {
                        .image_container {
                            &:before {
                                transition-delay: 0.5s;
                            }
                        }
                    }
                }
                &.prev {
                    transform: translate(30px, 20px);
                    .image_container {
                        &:before {
                            transform: translate(-30px, -50px);
                        }
                    }
                }
                &.next {
                    transform: translate(-30px, 20px);
                    .image_container {
                        &:before {
                            transform: translate(30px, -50px);
                        }
                    }
                }
                .image_container {
                    position: relative;
                    height: 300px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        height: 0;
                        background-color: #f8f8f7;
                        transition: height 0.65s $animation-function 0.3s;
                    }
                }
            }
        }
    }

    #wrapper_repair {
        .main_page {
            &:after {
                right: -195px;
                bottom: 0;
                width: 300px;
                transform: skew(20deg);
            }
            &:before {
                height: 250px;
                bottom: -125px;
                transform: skewY(-10deg);
            }
            .sofa_block {
                bottom: 50px;
                right: 30px;
                max-width: 550px;
            }
            .description_block {
                max-width: 570px;
                margin: 0 auto 0 130px;
                .title {
                    font-size: 30px;
                    margin-bottom: 25px;
                }
            }
        }
        .description_section {
            padding-top: 100px;
            .row {
                margin-bottom: 100px !important;
                .left_block_desktop {
                    animation-delay: 1.05s !important;
                    animation-name: fadeInLeft;
                    .text_info {
                        padding-left: 45px;
                        padding-right: 15px;
                    }
                }
                .right_block_desktop {
                    .image_container {
                        padding-right: 45px;
                        padding-left: 15px;
                        &.active {
                            &:before {
                                transition-delay: 0.7s;
                            }
                        }
                    }
                }
            }
            .text_info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                max-width: 100%;
                padding: 0 45px 0 15px;
                margin: 0;
                .title {
                    font-size: 24px;
                }
            }
            .image_container {
                height: 220px;
                margin-bottom: 0;
                padding-left: 45px;
                padding-right: 15px;
            }
        }
        .slide_section {
            margin-top: 0;
            .title_cont {
                width: 100%;
                max-width: 615px;
                margin: 0 auto 30px auto;
                padding: 0;
                .title {
                    font-size: 30px;
                }
            }
            .slide_cont {
                .gallery_slider {
                    .swiper-slide {
                        .slide_info {
                            .image_container {
                                height: 520px;
                                margin-bottom: 25px;
                            }
                            .info_container {
                                width: 100%;
                                max-width: 500px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
        .feedback_section {
            padding: 60px 0;
            .title_cont {
                max-width: 365px;
                .title {
                    font-size: 30px;
                }
            }
        }
        .material_info {
            margin: 80px 0 200px 0;
            &:before {
                left: 45px;
                right: 340px;
            }
            .info_block {
                padding: 79px 0 110px 0;
                max-width: 410px;
                .title {
                    font-size: 30px;
                }
                .text {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            .image_container {
                height: 530px;
                transform: translate(-45px, 160px);
            }
        }
        .object_calc {
            &:before {
                top: 135px;
            }
            .top_info {
                .image_container {
                    height: 520px;
                    margin-bottom: 120px;
                }
                .text_info {
                    max-width: 585px;
                    margin-bottom: 40px;
                }
            }
        }
        .advantages_section {
            padding: 80px 0;
        }
        .review_slide_section {
            .review_slider {
                .swiper-slide {
                    .review_user_info {
                        .sub_title {
                            font-size: 18px;
                        }
                    }
                    .bottom_info {
                        height: 380px;
                        padding: 0 45px;
                        .text {
                            position: relative;
                            font-size: 24px;
                        }
                    }
                }
                .swiper-button-prev {
                    right: unset;
                    left: 43%;
                }
                .swiper-button-next {
                    right: 42%;
                }
                .swiper-pagination {
                    width: 100%;
                    justify-content: center;
                    .swiper-pagination-bullet {
                        right: unset;
                        left: 50%;
                    }
                }
            }
        }
        .about_bottom {
            padding: 80px 0 50px 0;
            .section_title {
                .title {
                    font-size: 32px;
                }
            }
            .text_block {
                .text {
                    font-size: 18px;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    #wrapper_building {
        .build_info_section {
            .row {
                [class*='col'] {
                    &:nth-child(3) {
                        padding-right: 55px !important;
                    }
                    &:nth-child(4) {
                        padding-left: 55px !important;
                    }
                }
                &.bottom_row {
                    [class*='col'] {
                        &:nth-child(1) {
                            padding-right: 55px !important;
                        }
                        &:nth-child(2) {
                            padding-left: 55px !important;
                        }
                    }
                }
            }
            .block_info {
                .text_info {
                    .title {
                        font-size: 24px;
                    }
                }
                .image_container {
                    height: 415px;
                }
            }
        }
        .building_slide_section {
            padding: 70px 0 60px 0;
            .tab_row {
                width: 100%;
                max-width: 830px;
                margin: 0 auto 80px auto;
            }
            .building_slider {
                .swiper-slide {
                    .row {
                        [class*='col'] {
                            &:nth-child(1) {
                                padding-right: 40px !important;
                            }
                            &:nth-child(2) {
                                padding-left: 40px !important;
                            }
                        }
                    }
                    .image_container {
                        height: 550px;
                    }
                    .text_info {
                        padding-top: 50px;
                        .text {
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }
                }
                .swiper-button-next, .swiper-button-prev {
                    bottom: 36px;
                }
                .swiper-button-prev {
                    right: 24%;
                }
                .swiper-button-next {
                    right: 10%;
                }
                .swiper-pagination {
                    max-width: 41.666667%;
                    bottom: 40px;
                    padding-left: 40px;
                }
            }
        }

        .slide_section {
            margin-top: 0;
            padding-top: 60px;
            .title_cont {
                width: 100%;
                max-width: 615px;
                margin: 0 auto 30px auto;
                padding: 0;
                .title {
                    font-size: 30px;
                }
            }
            .slide_cont {
                .gallery_slider {
                    .swiper-slide {
                        .slide_info {
                            .image_container {
                                height: 520px;
                                margin-bottom: 25px;
                            }
                            .info_container {
                                width: 100%;
                                max-width: 500px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
        .object_calc {
            &:before {
                top: 135px;
            }
            .top_info {
                .image_container {
                    height: 520px;
                    margin-bottom: 120px;
                }
                .text_info {
                    max-width: 585px;
                    margin-bottom: 40px;
                }
            }
        }
        .advantages_section {
            padding: 80px 0;
        }
        .review_slide_section {
            .review_slider {
                .swiper-slide {
                    .review_user_info {
                        .sub_title {
                            font-size: 18px;
                        }
                    }
                    .bottom_info {
                        height: 380px;
                        padding: 0 45px;
                        .text {
                            position: relative;
                            font-size: 24px;
                        }
                    }
                }
                .swiper-button-prev {
                    right: unset;
                    left: 43%;
                }
                .swiper-button-next {
                    right: 42%;
                }
                .swiper-pagination {
                    width: 100%;
                    justify-content: center;
                    .swiper-pagination-bullet {
                        right: unset;
                        left: 50%;
                    }
                }
            }
        }
        .about_bottom {
            padding: 80px 0 50px 0;
            .section_title {
                .title {
                    font-size: 32px;
                }
            }
            .text_block {
                .text {
                    font-size: 18px;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}