@media (min-width: 576px) {

	#wrapper_all {
		[id*='wrapper'] {
			margin-top: 80px;
		}
		header {
			.header_container {
				padding: 20px 0;
				.menu_icon {
					width: 32px;
					height: 16px;
					span {
						height: 3px;
						&:nth-child(2) {
							top: 13px;
						}
					}
				}
				.logo_container {
					width: 180px;
					height: 40px;
				}
				.phone_icon {
					a {
						.phone {
							width: 24px;
							height: 24px;
						}
					}
				}
			}
		}
		footer {
			&.active {
				.custom_btn {
					&:nth-child(3) {
						transition-delay: 0.3s;
					}
					&:nth-child(4) {
						transition-delay: 0.4s;
					}
				}

				.bottom_socials {
					transition-delay: 0.5s;
				}
				.copyright_row {
					transition-delay: 0.6s;
				}
			}
			.container {
				padding-top: 50px;
				padding-bottom: 50px;
			}
			.logo_container {
				margin-bottom: 55px;
			}
			.address_block {
				margin-bottom: 25px;
				.title {
					font-size: 20px;
					text-align: left;
					margin-bottom: 0;
					line-height: 26px;
				}
				.sub_title {
					font-size: 18px;
					text-align: left;
					line-height: 26px;
				}
			}
			.custom_btn {
				margin-bottom: 30px;
				justify-content: flex-end;
				.my_btn {
					width: 240px;
					font-size: 18px;
					img {
						width: 18px;
						height: 18px;
						&.phone_arrow {
							top: 15px;
							left: 35px;
							transform: translate(-2px, 2px);
						}
					}
				}
			}
			.bottom_socials {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				a {
					display: block;
					margin-right: 35px;
					&:last-child {
						margin-right: 0;
					}
				}
				.social_cont {
					width: 100px;
					padding: 13px 0 14px 0;
					border-radius: 27px;
					border: 1px solid $color-white;
					transition: all 0.4s ease-out;
					background-color: $color-white;
					&:hover {
						background-color: $color-black;
						.icon {
							svg {
								#Меню-XL {
									fill: $color-white;
								}
							}
						}
					}
					.icon {
						text-align: center;
					}
				}
			}
			.copyright_row {
				margin-top: 25px;
				.text {
					text-align: center;
					font-size: 18px;
					color: $color-white;
				}
			}
		}
		#stages_modal {
			.modal-content {
				.modal-body {
					max-height: 600px;
					padding: 0;
					.detail_block {
						padding: 15px;
						width: 100%;
						max-width: 540px;
						margin: 0 auto !important;
					}
					.title_cont {
						margin-bottom: 0;
						margin-right: 15px;
						.title {
							text-align: left;
						}
					}
					.text_info {
						margin-left: 15px;
						.text {
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
		#feedback_modal {
			.modal-content {
				.modal-header {
					.modal-title {
						font-size: 32px;
					}
				}
			}
		}
	}

	#wrapper_main {
		height: calc(100vh - 80px);
		.main_block {
			height: calc(50vh - 40px);
			.block_info {
				max-width: 445px;
				.title_cont {
					margin-bottom: 20px;
					.title {
						font-size: 32px;
					}
				}
				.text_cont {
					margin-bottom: 25px;
				}
				.custom_btn {
					.my_btn {
						width: 230px;
						padding: 14px 0 17px 0;
						font-size: 18px;
					}
				}
			}
		}
	}

	#wrapper_contacts {
		position: relative;
		margin-top: 0 !important;
		padding-top: 0;
		height: 100vh;
		.container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.section_title {
			margin-bottom: 50px;
			.title {
				font-size: 32px;
			}
		}
		.form_cont {
			max-width: 265px;
			padding-bottom: 55px;
			.form-group {
				.input_cont {
					font-size: 18px;
				}
			}
			.custom_btn {
				.my_btn {
					padding: 14px 0 18px 0;
					font-size: 18px;
				}
			}
		}
		.contact_block {
			margin-bottom: 0;
		}
		.bottom_block {
			position: fixed;
			bottom: 20px;
			left: 0;
			right: 0;
			padding: 0 45px;
			.socials_row {
				margin-bottom: 0;
				justify-content: flex-start;
				a {
					margin-right: 30px;
				}
				.social_cont {
					width: 105px;
					padding: 13px 0;
				}
			}
			.copyright_row {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				height: 100%;
				margin-bottom: 0;
			}
		}
	}

	#wrapper_about {
		padding-top: 25px;
		.about_info {
			.about_block {
				.title {
					font-size: 24px;
					margin-bottom: 15px;
					&.last {
						text-align: right !important;
					}
				}
				.text {
					margin-bottom: 30px;
					&.first {
						width: 100%;
						max-width: 400px;
						margin: 0 auto 30px auto;
					}
					&.last {
						text-align: right !important;
					}
				}
				.image_cont {
					height: 400px;
				}
			}
		}
		.stages {
			padding: 55px 0;
			.section_title {
				.title {
					font-size: 24px;
				}
			}
			.stage_block {
				.stage_text {
					.text {
						font-size: 16px;
						color: $color-black;
						text-align: center;
					}
				}
			}
			.custom_btn {
				margin-top: 0;
				.my_btn {
					font-size: 18px;
					width: 225px;
					padding: 14px 0 18px 0;
				}
			}
		}
		.slider {
			padding: 60px 0;
			.section_title {
				margin-bottom: 20px;
			}
			.about_slider {
				.swiper-slide {
					.image_container {
						height: 280px;
					}
					.text_bottom_slide {
						.text {
							font-size: 18px;
						}
					}
				}
				.swiper-button-prev {
					left: 25%;
				}
				.swiper-button-next {
					right: 25%;
				}
			}
		}
		.guarantee {
			padding: 50px 0 20px 0;
			.section_title {
				margin-bottom: 20px;
				.title {
					font-size: 24px;
				}
			}
			.question_block {
				.top_row {
					.text {
						font-size: 18px;
					}
				}
				.bottom_row {
					.text {
						font-size: 18px;
						line-height: 23px;
					}
				}
			}
		}
		.about_bottom {
			padding: 50px 0;
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
				}
			}
			.custom_btn {
				.my_btn {
					width: 265px;
					font-size: 18px;
					padding: 14px 0 18px 0;
				}
			}
		}
	}

	#wrapper_portfolio {
		padding-top: 80px;
		.section_top_info {
			margin-top: -80px;
			padding-top: 120px;
			padding-bottom: 55px;
			.text_info {
				.text {
					&.bold {
						font-size: 24px;
					}
				}
			}
		}
		.portfolio_container {
			padding-top: 60px;
			.btn_select_row {
				margin-bottom: 40px;
				.custom_btn {
					cursor: pointer;
					.my_btn {
						width: 240px;
						font-size: 20px;
						padding: 11px 0;
					}
				}
			}
			.portfolio_info {
				margin-bottom: 60px;
				.portfolio_image {
					height: 380px;
				}
				.portfolio_text {
					.title {
						margin-bottom: 7px;
					}
				}
			}
		}
	}

	#wrapper_selected_portfolio {
		padding-top: 40px;
		.portfolio_info {
			padding-bottom: 40px;
			&:before {
				left: -130px;
				right: -130px;
				margin-top: 215px;
			}
			.image_container {
				height: 380px;
				margin-bottom: 30px;
			}
			.text_info {
				.title {
					margin-bottom: 25px;
					font-size: 30px;
				}
				.text {
					margin-bottom: 30px;
					font-size: 18px;
					line-height: 28px;
				}
			}
		}
		.portfolio_slider {
			.selected-portfolio-slider {
				.swiper-slide {
					.image_container {
						height: 300px;
					}
				}
				.swiper-button-prev {
					left: 25%;
				}
				.swiper-button-next {
					right: 25%;
				}
			}
		}
		.feedback_block {
			width: 100%;
			max-width: 450px;
			margin: 0 auto;
			padding-bottom: 50px;
			&:before {
				left: -150px;
				right: -150px;
				margin-top: 50px;
			}
			.image_container {
				height: 340px;
				margin-bottom: 25px;
			}
			.text_info {
				.title {
					font-size: 24px;
					margin-bottom: 15px;
				}
				.text {
					font-size: 18px;
					line-height: 26px;
				}
			}
		}
		.works_navigation {
			padding: 50px 0 60px 0;
			.row {
				[class*='col'] {
					&:nth-child(odd) {
						padding-right: 15px !important;
					}
					&:nth-child(even) {
						transform: translateY(60px);
						padding-left: 15px !important;
					}
				}
			}
			.work_block {
				margin-bottom: 100px;
				&.next {
					.link_btn {
						justify-content: flex-end;
					}
				}
				.link_btn {
					justify-content: flex-start;
				}
				.image_container {
					height: 180px;
				}
			}
			.custom_btn {
				position: relative;
				z-index: 10;
			}
		}
	}

	#wrapper_repair {
		.main_page {
			&:before {
				bottom: -90px;
				height: 200px;
				transform: skewY(-15deg);
			}
			&:after {
				right: -80px;
				bottom: 140px;
				width: 190px;
				transform: skew(12deg);
			}
			.sofa_block {
				bottom: 50px;
				right: 40px;
				width: 100%;
				max-width: 420px;
				margin: 0 0 0 auto;
			}
			.description_block {
				max-width: 330px;
				margin: 0 auto 0 95px;
				.title {
					font-size: 20px;
					margin-bottom: 20px;
				}
			}
		}
		.description_section {
			.text_info {
				max-width: 360px;
				padding: 0 15px;
				margin: 0 auto 25px auto;
				.title {
					font-size: 18px;
				}
			}
			.image_container {
				height: 215px;
			}
		}
		.slide_section {
			padding-bottom: 60px;
			.title_cont {
				margin-bottom: 20px;
			}
			.slide_cont {
				.gallery_slider {
					.swiper-slide {
						.slide_info {
							.image_container {
								height: 290px;
							}
							.info_container {
								.text {
									font-size: 18px;
								}
							}
						}
					}
					.swiper-button-prev {
						left: 25%;
					}
					.swiper-button-next {
						right: 25%;
					}
				}
			}
		}
		.feedback_section {
			padding: 50px 0;
			.title_cont {
				max-width: 245px;
				.title {
					font-size: 20px;
				}
			}
		}
		.material_info {
			margin: 60px 0 120px 0;
			&:before {
				right: 150px;
				bottom: 0;
			}
			.info_block {
				padding: 40px 0;
				width: 100%;
				max-width: 300px;
				margin: 0 auto;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.image_container {
				max-width: 100%;
				height: 310px;
				transform: translateY(120px);
			}
		}
		.object_calc {
			padding-bottom: 50px;
			&:before {
				top: 140px;
			}
			.top_info {
				.image_container {
					width: 100%;
					height: 290px;
					margin-bottom: 90px;
				}
				.text_info {
					max-width: 425px;
					margin: 0 auto 50px auto;
					.title {
						font-size: 24px;
					}
				}
			}
			.form_cont {
				width: 100%;
				max-width: 322px;
				margin: 0 auto 30px auto;
			}
		}
		.advantages_section {
			padding: 50px 0 60px 0;
			max-width: 100%;
			.advantage_block {
				margin-bottom: 0;
				.image_container {
					img {
						width: 65px;
						height: 65px;
					}
				}
			}
		}
		.review_slide_section {
			.review_slider {
				.swiper-slide {
					.review_user_info {
						padding: 30px 0;
						.title {
							font-size: 20px;
						}
					}
					.bottom_info {
						padding: 30px 45px 105px 45px;
						.text {
							font-size: 20px;
						}
					}
				}
			}
		}
		.about_bottom {
			padding: 50px 0;
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
				}
			}
			.custom_btn {
				.my_btn {
					width: 265px;
					font-size: 18px;
					padding: 14px 0 18px 0;
				}
			}
		}
	}

	#wrapper_building {
		padding-top: 30px;
		.build_info_section {
			.block_info {
				margin-bottom: 60px;
				.image_container {
					height: 470px;
				}
			}
		}
		.building_slide_section {
			padding: 55px 0;
			.tab_row {
				margin-bottom: 40px;
				.tab_item {
					font-size: 24px;
				}
			}
			.sliders_cont {
				position: relative;
			}
			.building_slider {
				.swiper-slide {
					padding-bottom: 0;
					.image_container {
						max-width: 330px;
						margin: 0 auto 40px auto;
						height: 330px;
					}
					.text_info {
						.title {
							font-size: 32px;
							padding-bottom: 20px;
							text-align: center;
							margin-bottom: 25px;
						}
						.text {
							width: 100%;
							max-width: 410px;
							margin: 0 auto;
							margin-bottom: 55px;
						}
					}
					.custom_btn {
						justify-content: flex-start;
					}
				}
				.swiper-button-next, .swiper-button-prev {
					bottom: 10px;
				}
				.swiper-button-prev {
					left: unset;
					right: 22%;
				}
				.swiper-button-next {
					right: 2%;
				}
				.swiper-pagination {
					bottom: 13px;
					.swiper-pagination-bullet {
						left: unset;
						right: 70px;
						text-align: right;
					}
				}
			}
		}

		.slide_section {
			padding-bottom: 60px;
			.title_cont {
				margin-bottom: 20px;
			}
			.slide_cont {
				.gallery_slider {
					.swiper-slide {
						.slide_info {
							.image_container {
								height: 290px;
							}
							.info_container {
								.text {
									font-size: 18px;
								}
							}
						}
					}
					.swiper-button-prev {
						left: 25%;
					}
					.swiper-button-next {
						right: 25%;
					}
				}
			}
		}
		.object_calc {
			padding-bottom: 50px;
			&:before {
				top: 140px;
			}
			.top_info {
				.image_container {
					width: 100%;
					height: 290px;
					margin-bottom: 90px;
				}
				.text_info {
					max-width: 425px;
					margin: 0 auto 50px auto;
					.title {
						font-size: 24px;
					}
				}
			}
			.form_cont {
				width: 100%;
				max-width: 322px;
				margin: 0 auto 30px auto;
			}
		}
		.advantages_section {
			padding: 50px 0 60px 0;
			max-width: 100%;
			.advantage_block {
				margin-bottom: 0;
				.image_container {
					img {
						width: 65px;
						height: 65px;
					}
				}
			}
		}
		.review_slide_section {
			.review_slider {
				.swiper-slide {
					.review_user_info {
						padding: 30px 0;
						.title {
							font-size: 20px;
						}
					}
					.bottom_info {
						padding: 30px 45px 105px 45px;
						.text {
							font-size: 20px;
						}
					}
				}
			}
		}
		.about_bottom {
			padding: 50px 0;
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
				}
			}
			.custom_btn {
				.my_btn {
					width: 265px;
					font-size: 18px;
					padding: 14px 0 18px 0;
				}
			}
		}
	}
}