@media (min-width: 768px) {

	#wrapper_all {
		[id*='wrapper'] {
			margin-top: 90px;
		}
		header {
			.header_container {
				.menu_icon {
					width: 48px;
					height: 24px;
					span {
						&:nth-child(2) {
							top: 21px;
						}
					}
				}
				.logo_container {
					width: 220px;
					height: 50px;
				}
			}
		}
		footer {
			.logo_container {
				margin-bottom: 25px;
			}
			.address_block {
				margin-bottom: 30px;
			}
			.custom_btn {
				.my_btn {
					width: 265px;
					img {
						&.phone_arrow {
							left: 48px;
						}
					}
				}
			}
			.bottom_socials {
				a {
					margin-right: 50px;
				}
				.social_cont {
					width: 105px;
					padding: 13px 0;
				}
			}
		}
		#stages_modal {
			.modal-dialog {
				max-width: 720px;
			}
			.modal-content {
				.modal-header {
					padding: 30px;
					.close {
						right: 30px;
					}
				}
				.modal-body {
					max-height: 550px;
					.detail_block {
						position: relative;
						padding: 15px;
						&:nth-child(even) {
							&:before {
								content: '';
								position: absolute;
								top: 0;
								left: -90px;
								bottom: 0;
								right: 0;
								width: calc(100% + 180px);
								background-color: #f8f8f7;
								z-index: 0;
							}
						}
					}
					.title_cont {
						margin-bottom: 0;
						margin-right: 15px;
					}
					.text_info {
						margin-left: 15px;
						.text {
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}

	#wrapper_main {
		height: calc(100vh - 90px);
		.main_block {
			height: calc(50vh - 45px);
			.block_info {
				max-width: 630px;
				.title_cont {
					margin-bottom: 30px;
				}
				.text_cont {
					margin-bottom: 35px;
					.text {
						font-size: 18px;
					}
				}
				.custom_btn {
					.my_btn {
						width: 230px;
						padding: 14px 0 17px 0;
						font-size: 18px;
					}
				}
			}
		}
	}

	#wrapper_contacts {
		.bottom_block {
			padding: 0 40px;
			.socials_row {
				a {
					margin-right: 40px;
				}
			}
		}
	}

	#wrapper_about {
		padding-top: 60px;
		.about_info {
			.about_block {
				margin-bottom: 80px !important;
				[class*='col'] {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					&:nth-child(odd) {
						padding-right: 15px !important;
					}
					&:nth-child(even) {
						padding-left: 15px !important;
					}
				}
				.title {
					text-align: left !important;
					&.last {
						text-align: left !important;
					}
				}
				.text {
					margin-bottom: 0;
					text-align: left;
					&.first {
						max-width: 100%;
						margin: 0;
					}
					&.last {
						text-align: left !important;
					}
				}
				.image_cont {
					height: 100%;
					max-height: 260px;
				}
			}
		}
		.stages {
			padding: 50px 0 60px 0;
			.row {
				[class*='col'] {
					margin-bottom: 100px;
				}
			}
			.section_title {
				margin-bottom: 40px;
				.title {
					font-size: 36px;
				}
			}
			.stage_block {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 0;
				.stage_img {
					margin-bottom: 0;
					margin-right: 20px;
					img {
						width: 100px;
						height: 100px;
					}
				}
				.stage_text {
					.text {
						text-align: left;
					}
				}
			}
			.arrow_img_cont {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				height: 100%;
				img {
					width: 42px;
					height: 16px;
				}
			}
			.custom_btn {
				margin-top: -50px;
			}
		}
		.slider {
			padding: 80px 0;
			.section_title {
				width: 100%;
				max-width: 615px;
				margin: 0 auto 35px auto;
				.title {
					text-align: center;
					font-size: 24px;
				}
			}
			.about_slider {
				.swiper-slide {
					.image_container {
						height: 400px;
					}
					.text_bottom_slide {
						width: 100%;
						max-width: 500px;
						margin: 25px auto 45px auto;
					}
				}
				.swiper-button-prev {
					left: 25%;
				}
				.swiper-button-next {
					right: 25%;
				}
			}
		}
		.guarantee {
			padding: 50px 0 20px 0;
			.container {
				max-width: 666px;
			}
			.section_title {
				margin-bottom: 30px;
				.title {
					font-size: 36px;
				}
			}
		}
		.about_bottom {
			padding: 80px 0 50px 0;
			.container {
				max-width: 630px;
			}
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	#wrapper_portfolio {
		padding-top: 90px;
		.section_top_info {
			margin-top: -90px;
			padding-top: 160px;
			padding-bottom: 60px;
			.container {
				max-width: 600px;
			}
		}
		.portfolio_container {
			padding-bottom: 70px;
			.btn_select_row {
				margin-bottom: 40px;
				padding: 0 37px;
				.custom_btn {
					.my_btn {
						width: 255px;
						font-size: 24px;
						padding: 8px 0;
					}
				}
			}
			.block_row {
				[class*='col'] {
					&:nth-child(odd) {
						padding-right: 15px !important;
					}
					&:nth-child(even) {
						transform: translateY(60px);
						padding-left: 15px !important;
					}
				}
			}
			.portfolio_info {
				.portfolio_image {
					height: 250px;
				}
			}
		}
	}

	#wrapper_selected_portfolio {
		.portfolio_info {
			&:before {
				margin-top: 280px;
			}
			.image_container {
				height: 520px;
				margin-bottom: 35px;
			}
		}
		.portfolio_slider {
			.selected-portfolio-slider {
				margin-bottom: 80px;
				.swiper-slide {
					padding: 0 45px 55px 45px;
					.image_container {
						height: 340px;
						img {
							object-fit: cover;
						}
					}
				}
				.swiper-button-prev, .swiper-button-next {
					bottom: unset;
					top: 50%;
					transform: translateY(-50%);
				}
				.swiper-button-prev {
					left: 0;
				}
				.swiper-button-next {
					right: 0;
				}
			}
		}
		.feedback_block {
			&:before {
				left: -200px;
				right: -200px;
			}
			.image_container {
				margin-bottom: 30px;
			}
			.text_info {
				.title {
					margin-bottom: 20px;
				}
			}
		}
		.works_navigation {
			padding: 50px 0 80px 0;
			.work_block {
				margin-bottom: 110px;
				.image_container {
					height: 250px;
				}
			}
		}
	}

	#wrapper_repair {
		.main_page {
			&:before {
				transform: skewY(-10deg);
			}
			.sofa_block {
				bottom: 40px;
				right: 40px;
				max-width: 480px;
			}
			.description_block {
				max-width: 420px;
				margin: 0 auto 0 100px;
				.title {
					font-size: 24px;
					margin-bottom: 30px;
				}
				.text {
					font-size: 18px;
					line-height: 28px;
				}
			}
		}
		.description_section {
			padding-top: 100px;
			.text_info {
				max-width: 450px;
				padding: 0;
				margin: 0 auto 35px auto;
				.title {
					font-size: 20px;
				}
			}
			.image_container {
				height: 300px;
				margin-bottom: 100px;
			}
		}
		.slide_section {
			margin-top: -40px;
			.title_cont {
				margin-bottom: 35px;
				padding: 0 25px;
			}
			.slide_cont {
				.gallery_slider {
					.swiper-slide {
						.slide_info {
							.image_container {
								height: 400px;
							}
							.info_container {
								width: 100%;
								max-width: 500px;
								margin: 0 auto;
							}
						}
					}
					.swiper-button-prev {
						left: 35%;
					}
					.swiper-button-next {
						right: 35%;
					}
				}
			}
		}
		.material_info {
			margin: 80px 0 125px 0;
			&:before {
				left: 40px;
				right: 230px;
			}
			.info_block {
				padding: 45px 0 100px 0;
				max-width: 335px;
				justify-content: flex-start;
			}
			.image_container {
				max-width: 100%;
				height: 365px;
				transform: translate(-40px, 120px);
			}
		}
		.object_calc {
			&:before {
				top: 200px;
			}
			.top_info {
				.image_container {
					height: 400px;
					margin-bottom: 80px;
				}
				.text_info {
					max-width: 585px;
					margin-bottom: 35px;
					.title {
						font-size: 36px;
					}
					.text {
						font-size: 18px;
						line-height: 28px;
					}
				}
			}
		}
		.advantages_section {
			padding: 60px 0;
		}
		.review_slide_section {
			.review_slider {
				.swiper-slide {
					.review_user_info {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						padding: 0;
						height: 100%;
						.title {
							font-size: 20px;
						}
					}
					.bottom_info {
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 330px;
						padding: 0 40px;
						.text {
							font-size: 20px;
						}
					}
				}
				.swiper-button-prev {
					right: 43%;
				}
				.swiper-button-next {
					right: 28%;
				}
				.swiper-pagination {
					width: 75%;
				}
			}
		}
		.about_bottom {
			padding: 80px 0 50px 0;
			.container {
				max-width: 630px;
			}
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	#wrapper_building {
		padding-top: 40px;
		.build_info_section {
			.row {
				margin-bottom: 60px !important;
				&.bottom_row {
					[class*='col'] {
						&:nth-child(1) {
							padding-right: 15px !important;
						}
						&:nth-child(2) {
							padding-left: 15px !important;
						}
					}
				}
				[class*='col'] {
					&:nth-child(3) {
						padding-right: 15px !important;
					}
					&:nth-child(4) {
						padding-left: 15px !important;
					}
				}
			}
			.block_info {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 0;
				height: 100%;
				.image_container {
					height: 305px;
					margin-bottom: 0;
				}
			}
		}
		.building_slide_section {
			padding: 60px 0;
			.tab_row {
				margin-bottom: 80px;
				.tab_item {
					font-size: 32px;
				}
			}
			.building_slider {
				.swiper-slide {
					.row {
						[class*='col'] {
							&:nth-child(1) {
								padding-right: 15px !important;
							}
							&:nth-child(2) {
								padding-left: 15px !important;
							}
						}
					}
					.image_container {
						max-width: 100%;
						margin: 0;
						height: 445px;
					}
					.text_info {
						padding-top: 10px;
						.title {
							padding-bottom: 30px;
							margin-bottom: 30px;
						}
						.text {
							width: 100%;
							max-width: 100%;
							margin: 0 auto 35px auto;
						}
					}
					.custom_btn {
						justify-content: center;
					}
				}
				.swiper-button-next, .swiper-button-prev {
					bottom: 17px;
				}
				.swiper-button-prev {
					right: 33%;
				}
				.swiper-button-next {
					right: 13%;
				}
				.swiper-pagination {
					right: 0;
					width: 100%;
					max-width: 50%;
					margin: 0 0 0 auto;
					bottom: 20px;
					justify-content: center;
					.swiper-pagination-bullet {
						left: unset;
						right: unset;
						text-align: center;
					}
				}
			}
		}

		.slide_section {
			margin-top: -40px;
			.title_cont {
				margin-bottom: 35px;
				padding: 0 25px;
			}
			.slide_cont {
				.gallery_slider {
					.swiper-slide {
						.slide_info {
							.image_container {
								height: 400px;
							}
							.info_container {
								width: 100%;
								max-width: 500px;
								margin: 0 auto;
							}
						}
					}
					.swiper-button-prev {
						left: 35%;
					}
					.swiper-button-next {
						right: 35%;
					}
				}
			}
		}
		.object_calc {
			&:before {
				top: 200px;
			}
			.top_info {
				.image_container {
					height: 400px;
					margin-bottom: 80px;
				}
				.text_info {
					max-width: 585px;
					margin-bottom: 35px;
					.title {
						font-size: 36px;
					}
					.text {
						font-size: 18px;
						line-height: 28px;
					}
				}
			}
		}
		.advantages_section {
			padding: 60px 0;
		}
		.review_slide_section {
			.review_slider {
				.swiper-slide {
					.review_user_info {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						padding: 0;
						height: 100%;
						.title {
							font-size: 20px;
						}
					}
					.bottom_info {
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 330px;
						padding: 0 40px;
						.text {
							font-size: 20px;
						}
					}
				}
				.swiper-button-prev {
					right: 43%;
				}
				.swiper-button-next {
					right: 28%;
				}
				.swiper-pagination {
					width: 75%;
				}
			}
		}
		.about_bottom {
			padding: 80px 0 50px 0;
			.container {
				max-width: 630px;
			}
			.section_title {
				.title {
					font-size: 32px;
				}
			}
			.text_block {
				.text {
					font-size: 18px;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}